<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__nav">
        <a
          href="https://mizza-cz.github.io/newMercury/build/03.0_map-shops.html"
          class="header__arrow header__arrow-prev"
        >
          {% include "@images/hp-left-slider.svg" %}
        </a>
        <a
          href="https://mizza-cz.github.io/newMercury/build/02.0_shop-detail.html"
          class="header__arrow header__arrow-next"
        >
          {% include "@images/hp-right-slider.svg" %}
        </a>
      </div>
    </div>
  </div>
</header>
