<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__nav">
        <a href="#" class="header__arrow header__arrow-prev">
          {% include "@images/hp-left-slider.svg" %}
        </a>
        <a href="#" class="header__arrow header__arrow-next">
          {% include "@images/hp-right-slider.svg" %}
        </a>
      </div>
      <a class="header__logo" href="/">
        <img src="images/content/logo.png" alt="" />
      </a>
    </div>
  </div>
</header>
