<div
  aria-labelledby="floor3-map-tab"
  class="tab-pane fade shops-map"
  id="floor3-map"
  role="tabpanel"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1000"
    height="491"
    viewBox="0 0 1000 491"
  >
    <g fill="none" fill-rule="evenodd">
      <path
        fill="#CFD0CF"
        d="M152.310311,228.885287 C238.257887,290.034342 912.789654,195.05815 998.689481,256.273777 C998.689481,256.273777 1001.47925,269.013586 998.918103,273.838591 C991.236099,288.313607 947.886097,299.056263 941.300901,301.324044 C913.307672,310.963925 885.31589,320.603805 857.324109,330.243685 C759.703764,363.86445 662.083419,397.483188 564.463074,431.101927 C521.537036,445.885199 478.612445,460.667024 435.686407,475.450296 C416.441605,482.077081 396.487783,491.386996 375.756935,490.987566 C351.980199,490.530247 337.302058,478.254993 318.952935,465.177984 L204.016609,383.271565 C136.011555,334.808192 68.005054,286.345398 0,237.882605 L0,223.642037 L152.310311,228.885287 Z"
      />
      <path
        fill="#EDEDED"
        d="M746.65926,69.1449027 C785.922998,97.1253026 825.188183,125.105703 864.45192,153.08755 L948.706533,213.129488 C962.775496,223.155774 978.738553,232.355702 991.726624,243.78723 C1022.26943,270.670643 944.615927,283.24547 927.080005,290.09802 C897.211493,301.77268 869.403478,311.868432 839.082062,322.310068 C715.119489,365.001669 588.724548,406.843467 464.761975,449.533331 C438.031958,458.739048 408.558471,473.872545 379.702843,475.086756 C347.789752,476.428322 327.536406,457.000946 303.099848,439.586642 C204.510028,369.33028 105.92209,299.072182 7.33371665,228.815821 L0.0742299517,223.642037 L649.473009,0 L746.65926,69.1449027 Z"
      />
      <path
        fill="#BCBDBD"
        d="M786.47285,159.513172 C763.335677,143.025084 741.863977,122.208384 712.225534,120.309641 C697.064103,119.338562 661.598681,124.180934 653.376955,139.52283 L653.157014,140.802166 L653.350909,142.094526 C663.541972,159.605793 692.636351,145.745842 708.347634,153.106363 C729.017709,162.78966 750.020589,178.216942 768.465213,191.560238 C776.070527,197.062539 783.751085,202.758766 788.968886,210.751718 C795.839136,221.275845 796.192198,232.74066 784.405119,239.927516 C781.545891,230.898359 775.277584,223.139854 768.300258,216.898028 C748.618468,199.288351 724.788194,185.371959 703.307811,170.063348 L691.461405,174.143039 L783.136119,239.473091 L730.971129,257.438783 L675.094642,217.620187 L700.162082,206.887662 L660.998186,198.396868 L656.823655,204.575017 L639.31812,192.100048 L394.103164,276.549219 L411.621722,289.032871 L371.363911,302.897164 L353.845353,290.413512 L337.516211,296.035931 C300.353485,294.63503 258.38824,286.847581 221.484523,295.141554 C206.090128,298.600391 183.013729,314.20568 204.863091,328.563472 C217.53138,336.889283 234.892217,333.065749 247.925145,327.939723 L340.194566,393.693374 C332.587805,396.312828 318.660645,397.535722 314.470198,405.334748 L314.484668,406.087299 C319.411627,414.870429 332.919163,420.756241 340.994745,426.510357 L346.213993,411.779184 L375.23747,414.426135 L380.29321,400.159518 L409.451256,402.819494 L414.622754,388.220017 L443.913922,390.893018 L449.015965,376.49181 L478.039442,379.140208 L483.141485,364.740447 L512.432653,367.412001 L517.559295,352.945668 L546.315081,355.568016 L551.417124,341.16869 L580.442048,343.815641 L585.496341,329.549023 L614.654387,332.208999 L619.825885,317.609523 L649.251621,320.294101 L654.353664,305.89434 L683.644832,308.565894 L688.865528,293.834721 L789.039788,286.610238 C813.208655,284.866348 838.947493,285.109479 862.093347,277.058638 C887.950837,268.064214 907.097245,249.366233 881.969031,227.872238 C857.889877,207.274068 829.786678,190.38076 803.991408,171.998271 L761.606539,186.594853 L744.087981,174.109754 L786.47285,159.513172 Z"
      />
      <polygon
        fill="#7D7E7E"
        points="700.346 208.924 664.526 183.398 664.6 169.156 700.42 194.682"
      />
      <path
        fill="#BCBDBD"
        d="M373.833902,278.555055 C373.833902,281.517499 370.531899,283.895268 366.460104,283.864877 C362.386862,283.834485 359.084859,281.408958 359.084859,278.446514 C359.084859,275.484071 362.386862,273.106302 366.460104,273.136693 C370.531899,273.167084 373.833902,275.592612 373.833902,278.555055"
      />
      <path
        fill="#959595"
        d="M365.357507,247.710623 L365.357507,277.785138 C365.357507,278.400204 365.926169,278.902386 366.627953,278.908204 C367.329738,278.912517 367.8984,278.419017 367.8984,277.803952 L367.8984,247.729436 L365.357507,247.710623 Z"
      />
      <path
        fill="#BCBDBD"
        d="M402.280035,268.618497 C402.280035,271.58094 398.978032,273.95871 394.906237,273.928318 C390.832995,273.897927 387.530992,271.472399 387.530992,268.509956 C387.530992,265.547512 390.832995,263.169743 394.906237,263.200134 C398.978032,263.230526 402.280035,265.656053 402.280035,268.618497"
      />
      <path
        fill="#959595"
        d="M393.80364,237.774064 L393.80364,267.84858 C393.80364,268.463645 394.372302,268.965828 395.074086,268.971645 C395.77587,268.975958 396.344533,268.482459 396.344533,267.867394 L396.344533,237.792878 L393.80364,237.774064 Z"
      />
      <path
        fill="#BCBDBD"
        d="M430.726168,258.681938 C430.726168,261.644381 427.424165,264.022151 423.35237,263.991759 C419.279128,263.961368 415.977125,261.53584 415.977125,258.573397 C415.977125,255.610954 419.279128,253.233184 423.35237,253.263576 C427.424165,253.293967 430.726168,255.719495 430.726168,258.681938"
      />
      <path
        fill="#959595"
        d="M422.249773,227.837505 L422.249773,257.912021 C422.249773,258.527086 422.818435,259.029269 423.520219,259.035086 C424.222003,259.039399 424.790666,258.5459 424.790666,257.930835 L424.790666,227.856319 L422.249773,227.837505 Z"
      />
      <path
        fill="#BCBDBD"
        d="M459.172301,248.743932 C459.172301,251.706375 455.870298,254.084145 451.798503,254.053753 C447.725261,254.023362 444.423258,251.597834 444.423258,248.635391 C444.423258,245.672948 447.725261,243.295178 451.798503,243.32557 C455.870298,243.355961 459.172301,245.781489 459.172301,248.743932"
      />
      <path
        fill="#959595"
        d="M450.695906,217.899499 L450.695906,247.974015 C450.695906,248.58908 451.264568,249.091263 451.966352,249.09708 C452.668136,249.101393 453.236799,248.607894 453.236799,247.992829 L453.236799,217.918313 L450.695906,217.899499 Z"
      />
      <path
        fill="#BCBDBD"
        d="M487.619881,238.807373 C487.619881,241.769817 484.317878,244.147586 480.246083,244.117195 C476.172841,244.086803 472.870838,241.661276 472.870838,238.698832 C472.870838,235.736389 476.172841,233.35862 480.246083,233.389011 C484.317878,233.419402 487.619881,235.84493 487.619881,238.807373"
      />
      <path
        fill="#959595"
        d="M479.142039,207.962941 L479.142039,238.037456 C479.142039,238.652522 479.710701,239.154704 480.412485,239.160522 C481.114269,239.164835 481.682932,238.671335 481.682932,238.05627 L481.682932,207.981754 L479.142039,207.962941 Z"
      />
      <path
        fill="#BCBDBD"
        d="M516.066014,228.870815 C516.066014,231.833258 512.764011,234.211027 508.692216,234.180636 C504.618974,234.150245 501.316971,231.724717 501.316971,228.762274 C501.316971,225.79983 504.618974,223.422061 508.692216,223.452452 C512.764011,223.482844 516.066014,225.908371 516.066014,228.870815"
      />
      <path
        fill="#959595"
        d="M507.588172,198.026382 L507.588172,228.100898 C507.588172,228.715963 508.156834,229.218146 508.858618,229.223963 C509.560402,229.228276 510.129064,228.734777 510.129064,228.119712 L510.129064,198.045196 L507.588172,198.026382 Z"
      />
      <path
        fill="#BCBDBD"
        d="M544.512147,218.932809 C544.512147,221.895252 541.210144,224.273022 537.138349,224.24263 C533.065107,224.212239 529.763104,221.786711 529.763104,218.824268 C529.763104,215.861824 533.065107,213.484055 537.138349,213.514446 C541.210144,213.544838 544.512147,215.970365 544.512147,218.932809"
      />
      <path
        fill="#959595"
        d="M536.034305,188.088376 L536.034305,218.162892 C536.034305,218.777957 536.602967,219.28014 537.304751,219.285957 C538.006535,219.29027 538.575197,218.796771 538.575197,218.181706 L538.575197,188.10719 L536.034305,188.088376 Z"
      />
      <path
        fill="#BCBDBD"
        d="M572.95828,208.99625 C572.95828,211.958693 569.656277,214.336463 565.584482,214.306071 C561.51124,214.27568 558.209237,211.850152 558.209237,208.887709 C558.209237,205.925266 561.51124,203.547496 565.584482,203.577888 C569.656277,203.608279 572.95828,206.033807 572.95828,208.99625"
      />
      <path
        fill="#959595"
        d="M564.480438,178.151817 L564.480438,208.226333 C564.480438,208.841398 565.0491,209.343581 565.750884,209.349398 C566.452668,209.353711 567.02133,208.860212 567.02133,208.245147 L567.02133,178.170631 L564.480438,178.151817 Z"
      />
      <path
        fill="#BCBDBD"
        d="M601.404413,199.059691 C601.404413,202.022135 598.10241,204.399904 594.030615,204.369513 C589.957373,204.339121 586.65537,201.913594 586.65537,198.95115 C586.65537,195.988707 589.957373,193.610937 594.030615,193.641329 C598.10241,193.67172 601.404413,196.097248 601.404413,199.059691"
      />
      <path
        fill="#959595"
        d="M592.928018,168.215258 L592.928018,198.289774 C592.928018,198.90484 593.49668,199.407022 594.198464,199.412839 C594.900248,199.417153 595.46891,198.923653 595.46891,198.308588 L595.46891,168.234072 L592.928018,168.215258 Z"
      />
      <path
        fill="#BCBDBD"
        d="M629.850545,189.121685 C629.850545,192.084129 626.548543,194.461898 622.476748,194.431507 C618.403506,194.401115 615.101503,191.975588 615.101503,189.013144 C615.101503,186.050701 618.403506,183.672932 622.476748,183.703323 C626.548543,183.733714 629.850545,186.159242 629.850545,189.121685"
      />
      <path
        fill="#959595"
        d="M621.374151,158.277253 L621.374151,188.351768 C621.374151,188.966834 621.942813,189.469016 622.644597,189.474834 C623.346381,189.479147 623.915043,188.985647 623.915043,188.370582 L623.915043,158.296066 L621.374151,158.277253 Z"
      />
      <path
        fill="#BCBDBD"
        d="M658.250375,179.185127 C658.250375,182.14757 654.948372,184.52534 650.876577,184.494948 C646.803335,184.464557 643.501332,182.039029 643.501332,179.076586 C643.501332,176.114142 646.803335,173.736373 650.876577,173.766764 C654.948372,173.797156 658.250375,176.222683 658.250375,179.185127"
      />
      <path
        fill="#959595"
        d="M649.77398,148.340694 L649.77398,178.41521 C649.77398,179.030275 650.342642,179.532458 651.044427,179.538275 C651.746211,179.542588 652.314873,179.049089 652.314873,178.434024 L652.314873,148.359508 L649.77398,148.340694 Z"
      />
      <path
        fill="#BCBDBD"
        d="M686.651652,170.516326 C686.651652,173.478769 683.349649,175.856539 679.277854,175.826147 C675.204612,175.795756 671.902609,173.370228 671.902609,170.407785 C671.902609,167.445342 675.204612,165.067572 679.277854,165.097963 C683.349649,165.128355 686.651652,167.553883 686.651652,170.516326"
      />
      <path
        fill="#959595"
        d="M678.175257,139.671893 L678.175257,169.746409 C678.175257,170.361474 678.743919,170.863657 679.445703,170.869474 C680.147487,170.873787 680.71615,170.380288 680.71615,169.765223 L680.71615,139.690707 L678.175257,139.671893 Z"
      />
      <path
        fill="#004E9E"
        d="M692.138591,133.945274 C692.138591,141.025036 686.399878,146.721263 679.32271,146.669164 C672.244096,146.617064 666.506829,140.835452 666.506829,133.75569 C666.506829,126.677375 672.244096,120.979701 679.32271,121.0318 C686.399878,121.085347 692.138591,126.865513 692.138591,133.945274"
      />
      <polygon
        fill="#FFF"
        points="673.444 130.608 671.589 131.051 671.102 129.13 674.16 128.24 675.756 128.252 675.756 138.976 673.444 138.96"
      />
      <path
        fill="#FFF"
        d="M677.735376,137.333198 L679.347309,135.809284 C680.078032,136.635642 680.839143,137.097303 681.918588,137.105986 C682.799797,137.111775 683.424892,136.615381 683.424892,135.823756 L683.424892,135.793364 C683.424892,134.926484 682.647865,134.432985 681.339797,134.424302 L680.367428,134.417066 L680.001343,132.923543 L682.542235,130.38658 L678.359023,130.354741 L678.359023,128.347458 L685.553396,128.401005 L685.553396,130.165156 L682.86057,132.716591 C684.306101,132.969853 685.721245,133.741218 685.721245,135.719557 L685.721245,135.748501 C685.721245,137.757231 684.261245,139.22181 681.888201,139.204443 C679.972403,139.189971 678.648419,138.420054 677.735376,137.333198"
      />
      <path
        fill="#004E9E"
        d="M663.692458,142.614075 C663.692458,149.693837 657.953745,155.390064 650.876577,155.337965 C643.797963,155.285865 638.060696,149.504252 638.060696,142.424491 C638.060696,135.346176 643.797963,129.649949 650.876577,129.702048 C657.953745,129.754148 663.692458,135.534313 663.692458,142.614075"
      />
      <polygon
        fill="#FFF"
        points="644.76 139.196 642.905 139.639 642.419 137.718 645.475 136.828 647.072 136.84 647.072 147.564 644.76 147.548"
      />
      <path
        fill="#FFF"
        d="M654.527302,143.420172 L654.527302,140.103162 L651.69846,143.399912 L654.527302,143.420172 Z M654.527302,145.321809 L649.325417,145.282735 L648.946309,143.622782 L654.786311,136.89614 L656.764329,136.910612 L656.764329,143.436092 L658.192496,143.44767 L658.192496,145.347859 L656.764329,145.337729 L656.764329,147.634454 L654.527302,147.618535 L654.527302,145.321809 Z"
      />
      <path
        fill="#004E9E"
        d="M635.246325,152.550634 C635.246325,159.630396 629.507612,165.326623 622.430444,165.274523 C615.35183,165.222424 609.614563,159.440811 609.614563,152.361049 C609.614563,145.282735 615.35183,139.586507 622.430444,139.638607 C629.507612,139.690707 635.246325,145.470872 635.246325,152.550634"
      />
      <polygon
        fill="#FFF"
        points="616.631 149.215 614.776 149.658 614.29 147.737 617.346 146.847 618.943 146.859 618.943 157.583 616.631 157.567"
      />
      <path
        fill="#FFF"
        d="M620.997936,156.183137 L622.413081,154.50437 C623.219047,155.241001 624.009097,155.672271 624.952526,155.679507 C626.047888,155.68819 626.732309,155.159958 626.732309,154.216375 L626.732309,154.185984 C626.732309,153.27424 625.956729,152.735877 624.846897,152.728641 C624.176946,152.722852 623.569216,152.900859 623.067114,153.110705 L621.71419,152.203303 L622.016609,146.957159 L628.556947,147.004917 L628.556947,149.058511 L624.025014,149.025225 L623.903467,150.864632 C624.328879,150.76188 624.709434,150.688072 625.302695,150.693861 C627.370426,150.708333 629.028662,151.724276 629.028662,154.128095 L629.028662,154.158487 C629.028662,156.408902 627.431199,157.82717 624.982913,157.809803 C623.27982,157.796778 622.032525,157.178819 620.997936,156.183137"
      />
      <path
        fill="#004E9E"
        d="M606.800192,162.487193 C606.800192,169.566955 601.061479,175.263182 593.984311,175.211082 C586.905697,175.158982 581.168431,169.37737 581.168431,162.299055 C581.168431,155.219293 586.905697,149.523066 593.984311,149.575166 C601.061479,149.627265 606.800192,155.407431 606.800192,162.487193"
      />
      <polygon
        fill="#FFF"
        points="588.026 159.15 586.171 159.593 585.684 157.672 588.742 156.782 590.338 156.794 590.338 167.518 588.026 167.502"
      />
      <path
        fill="#FFF"
        d="M598.630556,164.187667 L598.630556,164.157276 C598.630556,163.260004 597.930219,162.600075 596.775531,162.591392 C595.619396,162.582709 594.949445,163.216588 594.949445,164.113859 L594.949445,164.144251 C594.949445,165.042969 595.649783,165.731842 596.804471,165.740526 C597.962053,165.749209 598.630556,165.099411 598.630556,164.187667 M593.823697,166.585698 C593.049564,165.804203 592.561932,164.659458 592.561932,162.545081 L592.561932,162.51469 C592.561932,159.229518 594.052319,156.715711 597.231329,156.738866 C598.67686,156.748997 599.618842,157.181713 600.562272,157.934263 L599.330894,159.736042 C598.630556,159.197679 598.067682,158.873504 597.156086,158.867715 C595.832102,158.857585 595.163598,159.918391 595.010218,161.316398 C595.542706,160.969067 596.167801,160.64055 597.216859,160.647786 C599.330894,160.663705 600.957296,161.846078 600.957296,164.067548 L600.957296,164.09794 C600.957296,166.2731 599.209347,167.766623 596.897077,167.749256 C595.51232,167.739126 594.570337,167.336801 593.823697,166.585698"
      />
      <path
        fill="#004E9E"
        d="M578.354059,172.425199 C578.354059,179.504961 572.615346,185.201188 565.538178,185.149088 C558.459564,185.096988 552.722298,179.315376 552.722298,172.235614 C552.722298,165.157299 558.459564,159.459625 565.538178,159.511725 C572.615346,159.565271 578.354059,165.345437 578.354059,172.425199"
      />
      <polygon
        fill="#FFF"
        points="560.054 169.091 558.199 169.534 557.713 167.613 560.77 166.723 562.366 166.735 562.366 177.459 560.054 177.443"
      />
      <polygon
        fill="#FFF"
        points="569.807 168.888 564.803 168.851 564.803 166.827 572.469 166.884 572.469 168.649 567.693 177.498 565.046 177.479"
      />
      <path
        fill="#004E9E"
        d="M549.907926,182.361757 C549.907926,189.441519 544.169213,195.137746 537.092045,195.085647 C530.013431,195.033547 524.276165,189.251934 524.276165,182.172173 C524.276165,175.093858 530.013431,169.396184 537.092045,169.448283 C544.169213,169.50183 549.907926,175.281995 549.907926,182.361757"
      />
      <polygon
        fill="#FFF"
        points="531.371 179.026 529.517 179.469 529.031 177.548 532.087 176.658 533.684 176.67 533.684 187.394 531.371 187.378"
      />
      <path
        fill="#FFF"
        d="M541.398251,179.860975 L541.398251,179.830583 C541.398251,179.176443 540.835376,178.578745 539.877477,178.571509 C538.919578,178.56572 538.356704,179.138816 538.356704,179.792956 L538.356704,179.823347 C538.356704,180.568661 538.949965,181.135969 539.877477,181.143205 C540.80499,181.150441 541.398251,180.606289 541.398251,179.860975 M541.718033,184.350227 L541.718033,184.321283 C541.718033,183.499266 540.942453,183.007214 539.877477,182.998531 C538.812502,182.991295 538.036922,183.471769 538.036922,184.293786 L538.036922,184.324177 C538.036922,185.053572 538.721342,185.652718 539.877477,185.661401 C541.033612,185.668637 541.718033,185.096988 541.718033,184.350227 M535.770955,184.489159 L535.770955,184.458768 C535.770955,183.166407 536.364216,182.409515 537.489964,181.901544 C536.668081,181.393572 536.135593,180.704699 536.135593,179.564296 L536.135593,179.533905 C536.135593,177.905791 537.62598,176.623561 539.877477,176.640928 C542.127527,176.656847 543.619361,177.946313 543.619361,179.588899 L543.619361,179.61929 C543.619361,180.759693 543.086874,181.439883 542.26499,181.936277 C543.344436,182.507926 543.984,183.196799 543.984,184.458768 L543.984,184.489159 C543.984,186.467498 542.234604,187.610796 539.877477,187.593429 C537.518904,187.576063 535.770955,186.345932 535.770955,184.489159"
      />
      <path
        fill="#004E9E"
        d="M521.461793,192.298316 C521.461793,199.378078 515.72308,205.074305 508.645912,205.022205 C501.567298,204.970106 495.830032,199.188493 495.830032,192.108731 C495.830032,185.030417 501.567298,179.332742 508.645912,179.384842 C515.72308,179.438389 521.461793,185.218554 521.461793,192.298316"
      />
      <polygon
        fill="#FFF"
        points="502.925 188.962 501.07 189.405 500.583 187.485 503.639 186.595 505.237 186.606 505.237 197.33 502.925 197.314"
      />
      <path
        fill="#FFF"
        d="M513.499075,190.227355 L513.499075,190.196964 C513.499075,189.253382 512.798738,188.564509 511.62958,188.555825 C510.471998,188.547142 509.817964,189.211413 509.817964,190.154995 L509.817964,190.185386 C509.817964,191.127521 510.518301,191.78745 511.67299,191.796133 C512.830572,191.804817 513.499075,191.140546 513.499075,190.227355 M507.735764,196.269466 L508.967141,194.499526 C509.742721,195.127616 510.396755,195.422847 511.293881,195.428636 C512.601949,195.438766 513.300839,194.454662 513.452772,193.026264 C512.936201,193.463322 512.221394,193.746975 511.293881,193.741187 C508.983058,193.72382 507.491224,192.434354 507.491224,190.273666 L507.491224,190.243275 C507.491224,188.098506 509.149461,186.529728 511.55289,186.547095 C512.982504,186.557225 513.818857,186.91324 514.624824,187.725126 C515.384487,188.492148 515.886588,189.651365 515.886588,191.75127 L515.886588,191.781661 C515.886588,195.23471 514.260186,197.58064 511.233108,197.557485 C509.681948,197.547355 508.631443,197.022017 507.735764,196.269466"
      />
      <path
        fill="#004E9E"
        d="M493.01566,202.236322 C493.01566,209.316084 487.276947,215.012311 480.199779,214.960211 C473.121165,214.908112 467.383899,209.126499 467.383899,202.046737 C467.383899,194.968423 473.121165,189.270748 480.199779,189.322848 C487.276947,189.376395 493.01566,195.15656 493.01566,202.236322"
      />
      <path
        fill="#FFF"
        d="M470.693137 205.368089 474.236785 202.489584C475.560769 201.402728 476.07734 200.829632 476.07734 199.946832 476.07734 199.049561 475.484079 198.557509 474.647726 198.55172 473.825843 198.545931 473.264416 198.998908 472.472919 199.965646L470.830599 198.629869C471.879658 197.208707 472.89833 196.440237 474.799659 196.454709 477.004853 196.470629 478.464853 197.77312 478.464853 199.767378L478.464853 199.797769C478.464853 201.576393 477.553257 202.453404 475.666399 203.899169L473.932919 205.224815 478.57193 205.259548 478.57193 207.282751 470.693137 207.223415 470.693137 205.368089ZM487.307334 202.052526 487.307334 202.022135C487.307334 200.090106 486.363904 198.622633 484.966124 198.612448 483.565449 198.602372 482.653854 200.01051 482.653854 201.95701L482.653854 201.987401C482.653854 203.935349 483.581366 205.386903 484.995063 205.397033 486.40876 205.408611 487.307334 203.984554 487.307334 202.052526M480.248977 202.000426 480.248977 201.970035C480.248977 198.881684 482.166222 196.477865 484.995063 196.498126 487.809435 196.519834 489.709316 198.922206 489.709316 202.00911L489.709316 202.039501C489.709316 205.127852 487.809435 207.533118 484.966124 207.51141 482.121366 207.491149 480.248977 205.088777 480.248977 202.000426"
      />
      <path
        fill="#004E9E"
        d="M464.569527,212.172881 C464.569527,219.252643 458.830814,224.94887 451.753647,224.89677 C444.675032,224.84467 438.937766,219.063058 438.937766,211.983296 C438.937766,204.904981 444.675032,199.207307 451.753647,199.259407 C458.830814,199.312953 464.569527,205.093119 464.569527,212.172881"
      />
      <path
        fill="#FFF"
        d="M444.466667,215.320567 L448.010315,212.442062 C449.3343,211.355206 449.850871,210.78211 449.850871,209.89931 C449.850871,209.002039 449.25761,208.509987 448.421257,208.504198 C447.599374,208.498409 447.037946,208.951386 446.24645,209.918124 L444.60413,208.582347 C445.653189,207.161185 446.671861,206.392715 448.57319,206.407187 C450.778384,206.423107 452.238384,207.725598 452.238384,209.719856 L452.238384,209.750248 C452.238384,211.528871 451.326788,212.405882 449.439929,213.851647 L447.70645,215.177293 L452.34546,215.212026 L452.34546,217.235229 L444.466667,217.175893 L444.466667,215.320567 Z"
      />
      <polygon
        fill="#FFF"
        points="455.908 208.909 454.053 209.352 453.567 207.432 456.624 206.542 458.22 206.553 458.22 217.277 455.908 217.261"
      />
      <path
        fill="#004E9E"
        d="M436.121947,222.109439 C436.121947,229.189201 430.383234,234.885428 423.306067,234.833329 C416.227452,234.781229 410.490186,228.999616 410.490186,221.919855 C410.490186,214.84154 416.227452,209.143866 423.306067,209.197412 C430.383234,209.249512 436.121947,215.029677 436.121947,222.109439"
      />
      <path
        fill="#FFF"
        d="M414.752982 225.248443 418.29663 222.369938C419.620615 221.283081 420.135739 220.709985 420.135739 219.827186 420.135739 218.929914 419.543925 218.437862 418.707572 218.432073 417.884241 218.426284 417.322814 218.879262 416.531317 219.846L414.888998 218.510223C415.938057 217.08906 416.956729 216.320591 418.858057 216.335063 421.064698 216.350982 422.524699 217.653473 422.524699 219.647732L422.524699 219.678123C422.524699 221.456747 421.611656 222.333757 419.726244 223.779522L417.991318 225.105169 422.630328 225.139902 422.630328 227.163104 414.752982 227.103769 414.752982 225.248443ZM424.232132 225.317909 427.777227 222.439404C429.099765 221.352547 429.616336 220.779451 429.616336 219.896652 429.616336 218.99938 429.021628 218.507328 428.186722 218.501539 427.363392 218.495751 426.803412 218.948728 426.010468 219.915466L424.368148 218.579689C425.418654 217.158527 426.437326 216.390057 428.337208 216.404529 430.545296 216.420448 432.003849 217.722939 432.003849 219.717198L432.003849 219.747589C432.003849 221.526213 431.090806 222.401776 429.206841 223.848988L427.470468 225.174635 432.110925 225.209368 432.110925 227.23257 424.232132 227.173235 424.232132 225.317909Z"
      />
      <path
        fill="#004E9E"
        d="M407.675814,232.047445 C407.675814,239.127207 401.937101,244.823434 394.859934,244.771335 C387.781319,244.719235 382.044053,238.937622 382.044053,231.857861 C382.044053,224.779546 387.781319,219.081872 394.859934,219.135418 C401.937101,219.187518 407.675814,224.967683 407.675814,232.047445"
      />
      <path
        fill="#FFF"
        d="M386.306849 235.185001 389.850497 232.306496C391.174482 231.21964 391.689606 230.646544 391.689606 229.763745 391.689606 228.866473 391.097792 228.374421 390.261439 228.368632 389.439556 228.362843 388.876681 228.815821 388.085184 229.782558L386.442865 228.446781C387.491924 227.025619 388.510596 226.257149 390.411924 226.271622 392.618565 226.287541 394.078566 227.590032 394.078566 229.58429L394.078566 229.614682C394.078566 231.393305 393.165523 232.270316 391.280111 233.716081L389.545185 235.041727 394.184195 235.07646 394.184195 237.099663 386.306849 237.040327 386.306849 235.185001ZM395.61815 235.452736 397.230083 233.928821C397.960807 234.755179 398.721917 235.21684 399.801362 235.225523 400.682572 235.231312 401.307666 234.734918 401.307666 233.943293L401.307666 233.912902C401.307666 233.046022 400.530639 232.552522 399.222571 232.543839L398.250202 232.536603 397.884117 231.04308 400.42501 228.506117 396.241797 228.474278 396.241797 226.466995 403.43617 226.520542 403.43617 228.284694 400.743345 230.836129C402.188875 231.089391 403.604019 231.860755 403.604019 233.839094L403.604019 233.868038C403.604019 235.876769 402.144019 237.341347 399.770976 237.323981 397.855177 237.309509 396.531193 236.539592 395.61815 235.452736"
      />
      <path
        fill="#004E9E"
        d="M379.229681,241.984004 C379.229681,249.063766 373.490968,254.759993 366.413801,254.707893 C359.335186,254.655794 353.59792,248.874181 353.59792,241.794419 C353.59792,234.716105 359.335186,229.01843 366.413801,229.071977 C373.490968,229.124077 379.229681,234.904242 379.229681,241.984004"
      />
      <path
        fill="#FFF"
        d="M357.859269 245.123007 361.402917 242.244502C362.726902 241.157646 363.243473 240.58455 363.243473 239.70175 363.243473 238.804479 362.650212 238.312427 361.813859 238.306638 360.991976 238.300849 360.430548 238.753826 359.639052 239.720564L357.996732 238.384787C359.045791 236.963625 360.064463 236.195155 361.965792 236.209627 364.170985 236.225547 365.630986 237.528038 365.630986 239.522296L365.630986 239.552688C365.630986 241.331311 364.71939 242.208322 362.832531 243.654087L361.099052 244.979733 365.738062 245.014466 365.738062 247.037669 357.859269 246.978333 357.859269 245.123007ZM372.420205 242.887064 372.420205 239.570054 369.591364 242.866803 372.420205 242.887064ZM372.420205 244.788701 367.21832 244.749626 366.839212 243.089674 372.679214 236.363032 374.657232 236.377504 374.657232 242.902984 376.085399 242.914561 376.085399 244.816198 374.657232 244.804621 374.657232 247.101346 372.420205 247.085427 372.420205 244.788701Z"
      />
      <path
        fill="#BCBDBD"
        d="M345.387769,288.493061 C345.387769,291.455505 342.085766,293.833274 338.013971,293.802883 C333.940729,293.772491 330.638726,291.346964 330.638726,288.38452 C330.638726,285.422077 333.940729,283.044307 338.013971,283.074699 C342.085766,283.10509 345.387769,285.530618 345.387769,288.493061"
      />
      <path
        fill="#959595"
        d="M336.909927,257.648628 L336.909927,287.723144 C336.909927,288.33821 337.478589,288.840392 338.180373,288.846209 C338.882158,288.850523 339.45082,288.357023 339.45082,287.741958 L339.45082,257.667442 L336.909927,257.648628 Z"
      />
      <path
        fill="#004E9E"
        d="M350.783549,251.920563 C350.783549,259.000325 345.044835,264.696552 337.967668,264.644452 C330.889053,264.592352 325.151787,258.81074 325.151787,251.730978 C325.151787,244.652663 330.889053,238.954989 337.967668,239.008536 C345.044835,239.060635 350.783549,244.840801 350.783549,251.920563"
      />
      <path
        fill="#FFF"
        d="M329.413136 255.059566 332.956784 252.181061C334.280769 251.094205 334.79734 250.521109 334.79734 249.638309 334.79734 248.741038 334.204079 248.248985 333.367726 248.243197 332.545843 248.237408 331.984415 248.690385 331.192919 249.657123L329.550599 248.321346C330.599658 246.900184 331.61833 246.131714 333.519659 246.146186 335.724852 246.162106 337.184853 247.464596 337.184853 249.458855L337.184853 249.489246C337.184853 251.26787 336.273257 252.144881 334.386398 253.590646L332.652919 254.916292 337.291929 254.951025 337.291929 256.974228 329.413136 256.916339 329.413136 255.059566ZM338.801127 255.570432 340.214824 253.891666C341.022238 254.628297 341.812287 255.059566 342.755717 255.066802 343.851079 255.075485 344.535499 254.547253 344.535499 253.60367L344.535499 253.573279C344.535499 252.661535 343.759919 252.123172 342.64864 252.114489 341.980137 252.110148 341.372406 252.288155 340.870305 252.498L339.517381 251.589151 339.819799 246.344454 346.360138 246.392212 346.360138 248.445806 341.828204 248.41252 341.706658 250.251927C342.132069 250.149175 342.512624 250.075367 343.105885 250.079709 345.173616 250.095628 346.831853 251.111571 346.831853 253.515391L346.831853 253.545782C346.831853 255.796197 345.234389 257.214465 342.786103 257.197098 341.083011 257.184073 339.835716 256.566114 338.801127 255.570432"
      />
      <path
        fill="#BCBDBD"
        d="M723.928689,178.826218 C723.928689,181.788661 720.626686,184.166431 716.554891,184.136039 C712.481649,184.105648 709.179646,181.68012 709.179646,178.717677 C709.179646,175.755234 712.481649,173.377464 716.554891,173.407856 C720.626686,173.438247 723.928689,175.863775 723.928689,178.826218"
      />
      <path
        fill="#959595"
        d="M715.452294,147.981785 L715.452294,178.056301 C715.452294,178.671366 716.020956,179.173549 716.722741,179.179366 C717.424525,179.183679 717.993187,178.69018 717.993187,178.075115 L717.993187,148.000599 L715.452294,147.981785 Z"
      />
      <path
        fill="#004E9E"
        d="M729.415628,142.255167 C729.415628,149.334929 723.678362,155.031156 716.601194,154.979056 C709.52258,154.926956 703.783867,149.145344 703.783867,142.065582 C703.783867,134.987267 709.52258,129.289593 716.601194,129.34314 C723.678362,129.395239 729.415628,135.175405 729.415628,142.255167"
      />
      <polygon
        fill="#FFF"
        points="721.224 138.918 719.369 139.361 718.883 137.44 721.941 136.55 723.537 136.562 723.537 147.286 721.224 147.27"
      />
      <path
        fill="#FFF"
        d="M709.181093,145.64309 L710.793026,144.119176 C711.52375,144.945534 712.28486,145.407195 713.364306,145.414431 C714.245515,145.421667 714.870609,144.923826 714.870609,144.133648 L714.870609,144.103257 C714.870609,143.234929 714.093582,142.742877 712.785514,142.734194 L711.813146,142.725511 L711.44706,141.233435 L713.987953,138.695025 L709.804741,138.664633 L709.804741,136.65735 L716.999113,136.710897 L716.999113,138.475049 L714.306288,141.026484 C715.751819,141.279746 717.166963,142.05111 717.166963,144.028002 L717.166963,144.058393 C717.166963,146.067124 715.706962,147.531702 713.333919,147.514336 C711.418121,147.499864 710.094136,146.729947 709.181093,145.64309"
      />
      <polygon
        fill="#8566A1"
        points="656.824 204.575 680.412 196.452 680.486 182.21 656.897 190.333"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="744.088 174.11 761.607 186.595 761.68 172.353 744.162 159.868"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="761.608 186.595 803.991 171.998 804.067 157.756 761.68 172.353"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="639.32 192.1 656.825 204.575 656.897 190.333 639.393 177.858"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="664.548 183.412 700.346 208.924 700.42 194.682 664.621 169.17"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="700.346 208.924 675.095 217.62 675.168 203.378 700.42 194.682"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="730.971 257.439 783.136 239.475 783.21 225.233 731.045 243.197"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="786.473 159.513 744.088 174.11 744.16 159.868 786.547 145.271"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="657.967 205.414 673.927 216.788 674.001 202.547 658.041 191.172"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="673.927 216.789 697.516 208.666 697.589 194.424 674.001 202.547"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="395.769 275.976 413.274 288.451 413.347 274.209 395.842 261.734"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="413.273 288.45 655.138 205.155 655.21 190.913 413.347 274.208"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="497.565 277.523 555.113 318.533 555.187 304.292 497.639 263.281"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="555.114 318.533 703.017 267.597 703.091 253.356 555.188 304.291"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="430.399 300.654 487.947 341.664 488.021 327.423 430.473 286.412"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="487.947 341.664 528.206 327.799 528.279 313.557 488.021 327.422"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="388.457 315.097 446.005 356.107 446.079 341.866 388.531 300.855"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="446.005 356.108 486.264 342.244 486.336 328.002 446.079 341.866"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="697.589 194.424 681.628 183.051 658.039 191.174 674.001 202.547"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="703.091 253.356 645.543 212.347 497.64 263.281 555.188 304.292"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="528.279 313.559 470.731 272.549 430.471 286.413 488.019 327.423"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="486.336 328.002 428.789 286.991 388.529 300.857 446.077 341.866"
      />
      <polygon
        fill="#959595"
        points="783.136 239.473 730.971 257.437 731.045 243.197 783.21 225.231"
      />
      <path
        fill="#BCBDBD"
        d="M289.233462 227.717387 654.397074 101.961886C643.850054 94.9848758 630.273063 95.8011035 618.675537 99.1137721 593.272398 106.372988 568.351103 116.445585 543.379163 125.04492 464.869052 152.083184 386.35894 179.121449 307.847382 206.158267 301.211542 208.443415 272.723447 217.184576 289.233462 227.717387M284.247177 177.581616 546.180512 87.3754343C522.269207 71.4170258 483.044537 93.9703801 460.749506 101.647841L354.554372 138.220339C333.583326 145.441928 310.764489 151.0108 290.57481 160.254144 283.774015 163.368545 273.798551 171.037322 284.247177 177.581616"
      />
      <polygon
        fill="#7D7E7E"
        points="413.273 288.45 395.767 275.975 395.841 261.734 413.347 274.208"
      />
      <polygon
        fill="#7D7E7E"
        points="555.114 318.533 497.566 277.523 497.64 263.281 555.188 304.291"
      />
      <polygon
        fill="#959595"
        points="703.017 267.597 555.114 318.533 555.187 304.291 703.091 253.355"
      />
      <polygon
        fill="#D7D8D7"
        points="645.542 212.345 703.089 253.355 555.187 304.291 497.639 263.281"
      />
      <polygon
        fill="#7D7E7E"
        points="266.496 413.482 183.156 354.091 183.228 339.849 266.569 399.24"
      />
      <polygon
        fill="#959595"
        points="290.084 405.358 266.496 413.481 266.568 399.241 290.158 391.116"
      />
      <polygon
        fill="#D7D8D7"
        points="206.817 331.726 290.157 391.116 266.568 399.239 183.228 339.849"
      />
      <polygon
        fill="#7D7E7E"
        points="892.494 197.898 809.154 138.507 809.227 124.265 892.568 183.656"
      />
      <polygon
        fill="#959595"
        points="916.083 189.774 892.494 197.898 892.567 183.657 916.157 175.532"
      />
      <polygon
        fill="#D7D8D7"
        points="832.815 116.142 916.155 175.532 892.567 183.656 809.227 124.265"
      />
      <polygon
        fill="#7D7E7E"
        points="446.005 356.108 388.457 315.099 388.531 300.857 446.079 341.866"
      />
      <polygon
        fill="#7D7E7E"
        points="487.947 341.664 430.399 300.654 430.473 286.412 488.021 327.422"
      />
      <polygon
        fill="#959595"
        points="528.205 327.799 487.945 341.664 488.019 327.422 528.279 313.557"
      />
      <polygon
        fill="#D7D8D7"
        points="470.731 272.548 528.279 313.557 488.021 327.422 430.471 286.412"
      />
      <polygon
        fill="#7D7E7E"
        points="198.022 247.826 159.66 220.487 159.732 206.247 198.096 233.584"
      />
      <polygon
        fill="#959595"
        points="252.748 228.979 198.02 247.826 198.094 233.584 252.822 214.737"
      />
      <polygon
        fill="#D7D8D7"
        points="214.459 187.4 252.822 214.737 198.096 233.584 159.732 206.247"
      />
      <polygon
        fill="#7D7E7E"
        points="761.608 186.595 744.089 174.11 744.162 159.869 761.682 172.353"
      />
      <polygon
        fill="#8A8A8A"
        points="803.993 171.997 761.608 186.593 761.68 172.351 804.067 157.755"
      />
      <polygon
        fill="#959595"
        points="786.547 145.271 804.065 157.756 761.68 172.353 744.162 159.868"
      />
      <polygon
        fill="#7C5E95"
        points="656.825 204.575 639.308 192.093 639.382 177.851 656.899 190.333"
      />
      <polygon
        fill="#8F6DAD"
        points="662.97 169.728 680.488 182.21 656.897 190.334 639.382 177.851"
      />
      <polygon
        fill="#7D7E7E"
        points="673.927 216.789 657.967 205.416 658.039 191.174 674.001 202.547"
      />
      <polygon
        fill="#959595"
        points="697.516 208.665 673.927 216.788 673.999 202.547 697.589 194.423"
      />
      <polygon
        fill="#D7D8D7"
        points="681.628 183.049 697.589 194.423 673.999 202.547 658.039 191.172"
      />
      <polygon
        fill="#959595"
        points="486.264 342.244 446.005 356.108 446.079 341.866 486.338 328.002"
      />
      <path
        fill="#BCBDBD"
        d="M772.738138,215.47976 C772.738138,218.442204 769.436135,220.819973 765.36434,220.789582 C761.291098,220.75919 757.989095,218.333663 757.989095,215.37122 C757.989095,212.408776 761.291098,210.031007 765.36434,210.061398 C769.436135,210.09179 772.738138,212.517317 772.738138,215.47976"
      />
      <path
        fill="#959595"
        d="M764.260296,184.635328 L764.260296,214.709844 C764.260296,215.324909 764.828958,215.827091 765.530743,215.832909 C766.232527,215.837222 766.801189,215.343723 766.801189,214.728657 L766.801189,184.654141 L764.260296,184.635328 Z"
      />
      <path
        fill="#004E9E"
        d="M778.133918,178.908709 C778.133918,185.988471 772.395204,191.684698 765.318037,191.632598 C758.239422,191.580499 752.502156,185.798886 752.502156,178.719124 C752.502156,171.64081 758.239422,165.944583 765.318037,165.996682 C772.395204,166.048782 778.133918,171.828947 778.133918,178.908709"
      />
      <path
        fill="#FFF"
        d="M765.530743 182.046265 769.074391 179.16776C770.398375 178.080904 770.913499 177.507808 770.913499 176.625008 770.913499 175.727737 770.320238 175.235685 769.485332 175.229896 768.662002 175.224107 768.100575 175.677084 767.309078 176.643822L765.666758 175.308045C766.715817 173.886883 767.734489 173.118413 769.635818 173.132885 771.842459 173.148805 773.302459 174.452743 773.302459 176.445554L773.302459 176.475945C773.302459 178.254569 772.389416 179.13158 770.504005 180.577345L768.769078 181.902991 773.408089 181.937724 773.408089 183.960927 765.530743 183.903038 765.530743 182.046265ZM755.977796 182.313999 757.589729 180.790085C758.320453 181.616443 759.081563 182.078104 760.161009 182.08534 761.043665 182.092576 761.667312 181.594735 761.667312 180.804557L761.667312 180.774166C761.667312 179.907286 760.890285 179.413786 759.582218 179.405103L758.609849 179.39642 758.243763 177.904344 760.784656 175.365934 756.601444 175.335542 756.601444 173.328259 763.795816 173.381806 763.795816 175.145958 761.102991 177.697393C762.548522 177.950655 763.963666 178.722019 763.963666 180.698911L763.963666 180.729302C763.963666 182.738033 762.503665 184.202611 760.130622 184.185245 758.214824 184.170773 756.890839 183.400856 755.977796 182.313999"
      />
      <polygon
        fill="#D7D8D7"
        points="428.789 286.992 486.336 328.003 446.079 341.868 388.529 300.857"
      />
      <polygon
        fill="#7D7E7E"
        points="730.971 257.439 675.095 217.62 675.168 203.378 731.045 243.197"
      />
      <polygon
        fill="#D7D8D7"
        points="691.515 159.887 783.21 225.231 731.045 243.195 675.168 203.377 700.42 194.682 664.6 169.156"
      />
      <polygon
        fill="#959595"
        points="655.138 205.155 413.273 288.45 413.347 274.208 655.212 190.913"
      />
      <polygon
        fill="#7D7E7E"
        points="371.364 302.897 353.845 290.412 353.918 276.171 371.438 288.655"
      />
      <polygon
        fill="#959595"
        points="411.623 289.033 371.364 302.897 371.438 288.655 411.697 274.791"
      />
      <polygon
        fill="#D7D8D7"
        points="394.177 262.306 411.696 274.791 371.438 288.655 353.918 276.17"
      />
      <path
        fill="#BCBDBD"
        d="M366.544029,436.349807 C366.544029,439.312251 363.242026,441.713176 359.170231,441.713176 C355.096989,441.713176 351.794986,439.312251 351.794986,436.349807 C351.794986,433.387364 355.096989,430.986439 359.170231,430.986439 C363.242026,430.986439 366.544029,433.387364 366.544029,436.349807"
      />
      <path
        fill="#959595"
        d="M358.067634,405.567894 L358.067634,435.64241 C358.067634,436.257475 358.636296,436.755316 359.33808,436.755316 C360.039864,436.755316 360.608527,436.257475 360.608527,435.64241 L360.608527,405.567894 L358.067634,405.567894 Z"
      />
      <path
        fill="#BCBDBD"
        d="M394.990162,426.203113 C394.990162,429.165557 391.688159,431.566482 387.616364,431.566482 C383.543122,431.566482 380.241119,429.165557 380.241119,426.203113 C380.241119,423.24067 383.543122,420.839745 387.616364,420.839745 C391.688159,420.839745 394.990162,423.24067 394.990162,426.203113"
      />
      <path
        fill="#959595"
        d="M386.513767,395.4212 L386.513767,425.495716 C386.513767,426.110781 387.082429,426.608622 387.784213,426.608622 C388.485997,426.608622 389.054659,426.110781 389.054659,425.495716 L389.054659,395.4212 L386.513767,395.4212 Z"
      />
      <path
        fill="#BCBDBD"
        d="M423.436295,416.05642 C423.436295,419.018863 420.134292,421.419788 416.062497,421.419788 C411.989255,421.419788 408.687252,419.018863 408.687252,416.05642 C408.687252,413.093976 411.989255,410.693051 416.062497,410.693051 C420.134292,410.693051 423.436295,413.093976 423.436295,416.05642"
      />
      <path
        fill="#959595"
        d="M414.9599,385.274362 L414.9599,415.348878 C414.9599,415.963943 415.528562,416.461784 416.230346,416.461784 C416.93213,416.461784 417.500792,415.963943 417.500792,415.348878 L417.500792,385.274362 L414.9599,385.274362 Z"
      />
      <path
        fill="#BCBDBD"
        d="M451.883875,404.641244 C451.883875,407.603687 448.581872,410.004612 444.510077,410.004612 C440.436835,410.004612 437.134832,407.603687 437.134832,404.641244 C437.134832,401.678801 440.436835,399.277876 444.510077,399.277876 C448.581872,399.277876 451.883875,401.678801 451.883875,404.641244"
      />
      <path
        fill="#959595"
        d="M443.406033,373.859186 L443.406033,403.933702 C443.406033,404.548767 443.974695,405.046608 444.676479,405.046608 C445.378263,405.046608 445.946925,404.548767 445.946925,403.933702 L445.946925,373.859186 L443.406033,373.859186 Z"
      />
      <path
        fill="#BCBDBD"
        d="M480.330007,394.494261 C480.330007,397.456704 477.028005,399.857629 472.95621,399.857629 C468.882968,399.857629 465.580965,397.456704 465.580965,394.494261 C465.580965,391.531818 468.882968,389.130893 472.95621,389.130893 C477.028005,389.130893 480.330007,391.531818 480.330007,394.494261"
      />
      <path
        fill="#959595"
        d="M471.852166,363.712348 L471.852166,393.786864 C471.852166,394.401929 472.420828,394.89977 473.122612,394.89977 C473.824396,394.89977 474.393058,394.401929 474.393058,393.786864 L474.393058,363.712348 L471.852166,363.712348 Z"
      />
      <path
        fill="#BCBDBD"
        d="M508.77614,384.347567 C508.77614,387.31001 505.474138,389.710935 501.402342,389.710935 C497.329101,389.710935 494.027098,387.31001 494.027098,384.347567 C494.027098,381.385124 497.329101,378.984199 501.402342,378.984199 C505.474138,378.984199 508.77614,381.385124 508.77614,384.347567"
      />
      <path
        fill="#959595"
        d="M500.298299,353.565509 L500.298299,383.640025 C500.298299,384.25509 500.866961,384.752931 501.568745,384.752931 C502.270529,384.752931 502.839191,384.25509 502.839191,383.640025 L502.839191,353.565509 L500.298299,353.565509 Z"
      />
      <path
        fill="#BCBDBD"
        d="M537.222273,372.932392 C537.222273,375.894835 533.92027,378.29576 529.848475,378.29576 C525.775233,378.29576 522.473231,375.894835 522.473231,372.932392 C522.473231,369.969948 525.775233,367.569023 529.848475,367.569023 C533.92027,367.569023 537.222273,369.969948 537.222273,372.932392"
      />
      <path
        fill="#959595"
        d="M528.745879,342.149899 L528.745879,372.22485 C528.745879,372.839915 529.314541,373.337756 530.016325,373.337756 C530.718109,373.337756 531.286771,372.839915 531.286771,372.22485 L531.286771,342.149899 L528.745879,342.149899 Z"
      />
      <path
        fill="#BCBDBD"
        d="M565.668406,362.785408 C565.668406,365.747851 562.366403,368.148776 558.294608,368.148776 C554.221366,368.148776 550.919363,365.747851 550.919363,362.785408 C550.919363,359.822965 554.221366,357.42204 558.294608,357.42204 C562.366403,357.42204 565.668406,359.822965 565.668406,362.785408"
      />
      <path
        fill="#959595"
        d="M557.192011,332.003495 L557.192011,362.078156 C557.192011,362.693221 557.760674,363.191062 558.462458,363.191062 C559.164242,363.191062 559.732904,362.693221 559.732904,362.078156 L559.732904,332.003495 L557.192011,332.003495 Z"
      />
      <path
        fill="#BCBDBD"
        d="M594.114539,351.370233 C594.114539,354.332676 590.812536,356.733601 586.740741,356.733601 C582.667499,356.733601 579.365496,354.332676 579.365496,351.370233 C579.365496,348.40779 582.667499,346.00672 586.740741,346.00672 C590.812536,346.00672 594.114539,348.40779 594.114539,351.370233"
      />
      <path
        fill="#959595"
        d="M585.638144,320.587885 L585.638144,350.66298 C585.638144,351.278045 586.206807,351.775886 586.908591,351.775886 C587.610375,351.775886 588.179037,351.278045 588.179037,350.66298 L588.179037,320.587885 L585.638144,320.587885 Z"
      />
      <path
        fill="#BCBDBD"
        d="M622.560672,341.223684 C622.560672,344.186127 619.258669,346.586907 615.186874,346.586907 C611.113632,346.586907 607.811629,344.186127 607.811629,341.223684 C607.811629,338.26124 611.113632,335.860315 615.186874,335.860315 C619.258669,335.860315 622.560672,338.26124 622.560672,341.223684"
      />
      <path
        fill="#959595"
        d="M614.084277,310.441481 L614.084277,340.515997 C614.084277,341.131062 614.65294,341.628903 615.354724,341.628903 C616.056508,341.628903 616.62517,341.131062 616.62517,340.515997 L616.62517,310.441481 L614.084277,310.441481 Z"
      />
      <path
        fill="#BCBDBD"
        d="M651.006805,329.808074 C651.006805,332.770517 647.704802,335.171442 643.633007,335.171442 C639.559765,335.171442 636.257762,332.770517 636.257762,329.808074 C636.257762,326.845631 639.559765,324.444706 643.633007,324.444706 C647.704802,324.444706 651.006805,326.845631 651.006805,329.808074"
      />
      <path
        fill="#959595"
        d="M642.53041,299.025871 L642.53041,329.100387 C642.53041,329.715453 643.099073,330.213293 643.800857,330.213293 C644.502641,330.213293 645.071303,329.715453 645.071303,329.100387 L645.071303,299.025871 L642.53041,299.025871 Z"
      />
      <path
        fill="#BCBDBD"
        d="M679.452938,319.66167 C679.452938,322.624113 676.150935,325.025038 672.07914,325.025038 C668.005898,325.025038 664.703895,322.624113 664.703895,319.66167 C664.703895,316.699226 668.005898,314.298301 672.07914,314.298301 C676.150935,314.298301 679.452938,316.699226 679.452938,319.66167"
      />
      <path
        fill="#959595"
        d="M670.976543,288.879467 L670.976543,318.953983 C670.976543,319.569048 671.545205,320.066889 672.24699,320.066889 C672.948774,320.066889 673.517436,319.569048 673.517436,318.953983 L673.517436,288.879467 L670.976543,288.879467 Z"
      />
      <path
        fill="#004E9E"
        d="M684.895021,284.245494 C684.895021,291.325255 679.156308,297.063452 672.07914,297.063452 C665.000526,297.063452 659.263259,291.325255 659.263259,284.245494 C659.263259,277.165732 665.000526,271.427535 672.07914,271.427535 C679.156308,271.427535 684.895021,277.165732 684.895021,284.245494"
      />
      <polygon
        fill="#FFF"
        points="666.2 281.047 664.345 281.504 663.859 279.587 666.915 278.674 668.512 278.674 668.512 289.399 666.2 289.399"
      />
      <path
        fill="#FFF"
        d="M670.659655,287.542243 L674.203303,284.637688 C675.527288,283.540701 676.043859,282.964711 676.043859,282.080464 C676.043859,281.18464 675.450598,280.698377 674.614245,280.698377 C673.792362,280.698377 673.230934,281.152801 672.439438,282.126775 L670.797118,280.804023 C671.846177,279.37273 672.864849,278.598472 674.766178,278.598472 C676.971372,278.598472 678.431372,279.890832 678.431372,281.883643 L678.431372,281.914035 C678.431372,283.694106 677.519776,284.576905 675.632917,286.037142 L673.899438,287.374366 L678.538448,287.374366 L678.538448,289.399016 L670.659655,289.399016 L670.659655,287.542243 Z"
      />
      <path
        fill="#004E9E"
        d="M656.448888,294.391898 C656.448888,301.47166 650.710175,307.209856 643.633007,307.209856 C636.554393,307.209856 630.817126,301.47166 630.817126,294.391898 C630.817126,287.312136 636.554393,281.57394 643.633007,281.57394 C650.710175,281.57394 656.448888,287.312136 656.448888,294.391898"
      />
      <polygon
        fill="#FFF"
        points="639.418 291.114 637.563 291.571 637.077 289.654 640.134 288.741 641.73 288.741 641.73 299.466 639.418 299.466"
      />
      <polygon
        fill="#FFF"
        points="645.841 291.114 643.985 291.571 643.498 289.654 646.556 288.741 648.152 288.741 648.152 299.466 645.841 299.466"
      />
      <path
        fill="#004E9E"
        d="M628.002755,305.807508 C628.002755,312.887269 622.264042,318.625466 615.186874,318.625466 C608.10826,318.625466 602.370994,312.887269 602.370994,305.807508 C602.370994,298.727746 608.10826,292.989549 615.186874,292.989549 C622.264042,292.989549 628.002755,298.727746 628.002755,305.807508"
      />
      <polygon
        fill="#FFF"
        points="609.386 302.609 607.531 303.066 607.045 301.149 610.102 300.236 611.698 300.236 611.698 310.961 609.386 310.961"
      />
      <path
        fill="#FFF"
        d="M620.979126,305.667128 L620.979126,305.636737 C620.979126,303.704708 620.037143,302.244471 618.637916,302.244471 C617.237242,302.244471 616.325646,303.659845 616.325646,305.606345 L616.325646,305.636737 C616.325646,307.583237 617.254605,309.029002 618.668302,309.029002 C620.082,309.029002 620.979126,307.599156 620.979126,305.667128 M613.922216,305.667128 L613.922216,305.636737 C613.922216,302.548386 615.838014,300.130094 618.668302,300.130094 C621.482674,300.130094 623.382556,302.517994 623.382556,305.606345 L623.382556,305.636737 C623.382556,308.72364 621.482674,311.143379 618.637916,311.143379 C615.794605,311.143379 613.922216,308.755479 613.922216,305.667128"
      />
      <path
        fill="#004E9E"
        d="M599.556622,315.953912 C599.556622,323.033674 593.817909,328.77187 586.740741,328.77187 C579.662127,328.77187 573.924861,323.033674 573.924861,315.953912 C573.924861,308.87415 579.662127,303.135954 586.740741,303.135954 C593.817909,303.135954 599.556622,308.87415 599.556622,315.953912"
      />
      <path
        fill="#FFF"
        d="M588.721654,313.942287 L588.721654,313.911896 C588.721654,312.968313 588.021317,312.285229 586.850712,312.285229 C585.694577,312.285229 585.040543,312.953841 585.040543,313.895976 L585.040543,313.927815 C585.040543,314.86995 585.739433,315.525537 586.895568,315.525537 C588.051703,315.525537 588.721654,314.855478 588.721654,313.942287 M582.956895,320.027814 L584.18972,318.247743 C584.963853,318.871492 585.617887,319.160934 586.51646,319.160934 C587.823081,319.160934 588.523418,318.171041 588.67535,316.741195 C588.158779,317.182595 587.443972,317.472038 586.51646,317.472038 C584.20419,317.472038 582.713803,316.194149 582.713803,314.033462 L582.713803,314.00307 C582.713803,311.858302 584.370592,310.277946 586.775469,310.277946 C588.203636,310.277946 589.041436,310.626724 589.845955,311.432821 C590.607066,312.194055 591.109167,313.34893 591.109167,315.448835 L591.109167,315.479226 C591.109167,318.932275 589.482764,321.289783 586.455687,321.289783 C584.90308,321.289783 583.854021,320.773129 582.956895,320.027814"
      />
      <path
        fill="#004E9E"
        d="M571.110489,327.369522 C571.110489,334.449283 565.371776,340.18748 558.294608,340.18748 C551.215994,340.18748 545.478728,334.449283 545.478728,327.369522 C545.478728,320.28976 551.215994,314.551563 558.294608,314.551563 C565.371776,314.551563 571.110489,320.28976 571.110489,327.369522"
      />
      <path
        fill="#FFF"
        d="M560.061368,324.930969 L560.061368,324.900578 C560.061368,324.246438 559.498494,323.654528 558.540595,323.654528 C557.582695,323.654528 557.019821,324.230518 557.019821,324.886106 L557.019821,324.916497 C557.019821,325.661811 557.613082,326.22333 558.540595,326.22333 C559.469554,326.22333 560.061368,325.676283 560.061368,324.930969 M560.38115,329.418774 L560.38115,329.388383 C560.38115,328.567813 559.60557,328.080103 558.540595,328.080103 C557.477066,328.080103 556.700039,328.567813 556.700039,329.388383 L556.700039,329.418774 C556.700039,330.149616 557.384459,330.742973 558.540595,330.742973 C559.69673,330.742973 560.38115,330.164088 560.38115,329.418774 M554.434072,329.601123 L554.434072,329.570731 C554.434072,328.278371 555.027333,327.517137 556.153082,327.000482 C555.331198,326.4983 554.79871,325.813769 554.79871,324.673365 L554.79871,324.642974 C554.79871,323.01486 556.290544,321.721053 558.540595,321.721053 C560.792092,321.721053 562.282479,323.000388 562.282479,324.642974 L562.282479,324.673365 C562.282479,325.813769 561.749991,326.4983 560.929555,327.000482 C562.007553,327.563448 562.647117,328.247979 562.647117,329.509948 L562.647117,329.541787 C562.647117,331.518679 560.899168,332.675001 558.540595,332.675001 C556.183468,332.675001 554.434072,331.457896 554.434072,329.601123"
      />
      <path
        fill="#004E9E"
        d="M542.664356,337.515926 C542.664356,344.595688 536.925643,350.334463 529.848475,350.334463 C522.769861,350.334463 517.032595,344.595688 517.032595,337.515926 C517.032595,330.436164 522.769861,324.697968 529.848475,324.697968 C536.925643,324.697968 542.664356,330.436164 542.664356,337.515926"
      />
      <polygon
        fill="#FFF"
        points="531.183 334.044 526.179 334.044 526.179 332.021 533.845 332.021 533.845 333.786 529.069 342.669 526.422 342.669"
      />
      <path
        fill="#004E9E"
        d="M514.218223,348.93168 C514.218223,356.011442 508.47951,361.749638 501.402342,361.749638 C494.323728,361.749638 488.586462,356.011442 488.586462,348.93168 C488.586462,341.851774 494.323728,336.113577 501.402342,336.113577 C508.47951,336.113577 514.218223,341.851774 514.218223,348.93168"
      />
      <path
        fill="#FFF"
        d="M502.875366,350.691924 L502.875366,350.661533 C502.875366,349.764261 502.175029,349.110122 501.018893,349.110122 C499.864205,349.110122 499.194255,349.749789 499.194255,350.645614 L499.194255,350.677452 C499.194255,351.573277 499.894592,352.259255 501.04928,352.259255 C502.205415,352.259255 502.875366,351.605115 502.875366,350.691924 M498.068506,353.126135 C497.292926,352.35043 496.805295,351.210026 496.805295,349.095649 L496.805295,349.063811 C496.805295,345.77806 498.297129,343.252675 501.476138,343.252675 C502.920222,343.252675 503.863651,343.678155 504.805634,344.42347 L503.575703,346.235379 C502.875366,345.702805 502.312491,345.382971 501.399449,345.382971 C500.076911,345.382971 499.408407,346.448698 499.255028,347.846705 C499.787515,347.497927 500.411163,347.163621 501.460222,347.163621 C503.575703,347.163621 505.202106,348.332969 505.202106,350.555887 L505.202106,350.584831 C505.202106,352.759991 503.45271,354.266539 501.141887,354.266539 C499.757129,354.266539 498.815147,353.87145 498.068506,353.126135"
      />
      <path
        fill="#004E9E"
        d="M485.77209,359.078374 C485.77209,366.158136 480.033377,371.896332 472.95621,371.896332 C465.877595,371.896332 460.140329,366.158136 460.140329,359.078374 C460.140329,351.998612 465.877595,346.259982 472.95621,346.259982 C480.033377,346.259982 485.77209,351.998612 485.77209,359.078374"
      />
      <path
        fill="#FFF"
        d="M468.509647,362.816957 L469.923344,361.128061 C470.730758,361.858903 471.520808,362.284383 472.464237,362.284383 C473.559599,362.284383 474.24402,361.751809 474.24402,360.808227 L474.24402,360.777835 C474.24402,359.864645 473.46844,359.332071 472.357161,359.332071 C471.688657,359.332071 471.080927,359.515866 470.578825,359.728607 L469.225901,358.831335 L469.52832,353.583744 L476.068658,353.583744 L476.068658,355.635891 L471.536725,355.635891 L471.415178,357.476745 C471.84059,357.371098 472.221145,357.294396 472.814406,357.294396 C474.882137,357.294396 476.540373,358.298761 476.540373,360.70258 L476.540373,360.732972 C476.540373,362.983387 474.94291,364.413232 472.494624,364.413232 C470.791531,364.413232 469.544236,363.805403 468.509647,362.816957"
      />
      <path
        fill="#004E9E"
        d="M457.32451,369.225358 C457.32451,376.305119 451.585797,382.043316 444.50863,382.043316 C437.430015,382.043316 431.692749,376.305119 431.692749,369.225358 C431.692749,362.145596 437.430015,356.407399 444.50863,356.407399 C451.585797,356.407399 457.32451,362.145596 457.32451,369.225358"
      />
      <path
        fill="#FFF"
        d="M444.433387,370.179215 L444.433387,366.863652 L441.603099,370.179215 L444.433387,370.179215 Z M444.433387,372.080852 L439.231502,372.080852 L438.850947,370.423794 L444.690949,363.652288 L446.668967,363.652288 L446.668967,370.179215 L448.098581,370.179215 L448.098581,372.080852 L446.668967,372.080852 L446.668967,374.377578 L444.433387,374.377578 L444.433387,372.080852 Z"
      />
      <path
        fill="#004E9E"
        d="M428.878377,380.640533 C428.878377,387.720295 423.139664,393.458491 416.062497,393.458491 C408.983882,393.458491 403.246616,387.720295 403.246616,380.640533 C403.246616,373.560771 408.983882,367.822575 416.062497,367.822575 C423.139664,367.822575 428.878377,373.560771 428.878377,380.640533"
      />
      <path
        fill="#FFF"
        d="M411.461108,384.134827 L413.073041,382.599335 C413.803765,383.419904 414.564875,383.875776 415.64432,383.875776 C416.526976,383.875776 417.150624,383.373593 417.150624,382.583415 L417.150624,382.553024 C417.150624,381.686144 416.373597,381.19988 415.065529,381.19988 L414.09316,381.19988 L413.727075,379.707805 L416.267967,377.152028 L412.084755,377.152028 L412.084755,375.144745 L419.279128,375.144745 L419.279128,376.910344 L416.586303,379.480592 C418.031833,379.723724 419.446977,380.484958 419.446977,382.461849 L419.446977,382.492241 C419.446977,384.499524 417.986977,385.975681 415.613934,385.975681 C413.698135,385.975681 412.374151,385.214447 411.461108,384.134827"
      />
      <path
        fill="#004E9E"
        d="M400.432244,390.787227 C400.432244,397.866989 394.693531,403.605185 387.616364,403.605185 C380.537749,403.605185 374.800483,397.866989 374.800483,390.787227 C374.800483,383.707465 380.537749,377.969269 387.616364,377.969269 C394.693531,377.969269 400.432244,383.707465 400.432244,390.787227"
      />
      <path
        fill="#FFF"
        d="M383.262408,394.083542 L386.806056,391.178987 C388.130041,390.082 388.646612,389.50601 388.646612,388.621763 C388.646612,387.725939 388.053351,387.238228 387.216998,387.238228 C386.395115,387.238228 385.833687,387.6941 385.042191,388.668074 L383.399871,387.345322 C384.44893,385.914029 385.467602,385.139771 387.368931,385.139771 C389.574124,385.139771 391.034125,386.432131 391.034125,388.424942 L391.034125,388.455334 C391.034125,390.235405 390.122529,391.118204 388.23567,392.578441 L386.502191,393.915665 L391.141201,393.915665 L391.141201,395.940315 L383.262408,395.940315 L383.262408,394.083542 Z"
      />
      <path
        fill="#004E9E"
        d="M371.986112,400.933921 C371.986112,408.013683 366.247398,413.751879 359.170231,413.751879 C352.091616,413.751879 346.35435,408.013683 346.35435,400.933921 C346.35435,393.854159 352.091616,388.115963 359.170231,388.115963 C366.247398,388.115963 371.986112,393.854159 371.986112,400.933921"
      />
      <polygon
        fill="#FFF"
        points="358.126 397.735 356.27 398.192 355.784 396.275 358.842 395.362 360.438 395.362 360.438 406.087 358.126 406.087"
      />
      <path
        fill="#BCBDBD"
        d="M315.950456,198.344768 C315.950456,201.307212 312.648453,203.708137 308.576658,203.708137 C304.503416,203.708137 301.201414,201.307212 301.201414,198.344768 C301.201414,195.382325 304.503416,192.9814 308.576658,192.9814 C312.648453,192.9814 315.950456,195.382325 315.950456,198.344768"
      />
      <path
        fill="#959595"
        d="M307.474061,167.562566 L307.474061,197.637082 C307.474061,198.252147 308.042724,198.749988 308.744508,198.749988 C309.446292,198.749988 310.014954,198.252147 310.014954,197.637082 L310.014954,167.562566 L307.474061,167.562566 Z"
      />
      <path
        fill="#004E9E"
        d="M321.392539,161.733195 C321.392539,168.812957 315.653826,174.551153 308.576658,174.551153 C301.498044,174.551153 295.760778,168.812957 295.760778,161.733195 C295.760778,154.653433 301.498044,148.915237 308.576658,148.915237 C315.653826,148.915237 321.392539,154.653433 321.392539,161.733195"
      />
      <path
        fill="#FFF"
        d="M300.127756 165.029945 303.671404 162.12539C304.995389 161.02985 305.510513 160.450965 305.510513 159.568166 305.510513 158.670894 304.917252 158.184631 304.082346 158.184631 303.259016 158.184631 302.697588 158.640503 301.906092 159.614477L300.263772 158.291725C301.312831 156.861879 302.331503 156.086173 304.232832 156.086173 306.439472 156.086173 307.899473 157.378534 307.899473 159.371345L307.899473 159.401736C307.899473 161.181807 306.98643 162.064607 305.101018 163.524844L303.366092 164.863515 308.005102 164.863515 308.005102 166.88527 300.127756 166.88527 300.127756 165.029945ZM315.173429 159.294643 315.173429 159.264251C315.173429 158.610111 314.610555 158.016754 313.652656 158.016754 312.694757 158.016754 312.131882 158.594192 312.131882 159.249779L312.131882 159.280171C312.131882 160.025485 312.725143 160.58845 313.652656 160.58845 314.581616 160.58845 315.173429 160.039957 315.173429 159.294643M315.493211 163.782448 315.493211 163.752056C315.493211 162.93004 314.717631 162.443776 313.652656 162.443776 312.589127 162.443776 311.8121 162.93004 311.8121 163.752056L311.8121 163.782448C311.8121 164.511843 312.496521 165.1052 313.652656 165.1052 314.808791 165.1052 315.493211 164.527762 315.493211 163.782448M309.546133 163.964796 309.546133 163.934405C309.546133 162.642044 310.139394 161.880811 311.265143 161.364156 310.44326 160.861973 309.910772 160.177442 309.910772 159.037039L309.910772 159.006647C309.910772 157.378534 311.402606 156.084726 313.652656 156.084726 315.904153 156.084726 317.39454 157.362614 317.39454 159.006647L317.39454 159.037039C317.39454 160.177442 316.862052 160.861973 316.041616 161.364156 317.119614 161.927122 317.759178 162.611653 317.759178 163.873622L317.759178 163.904013C317.759178 165.882352 316.011229 167.037228 313.652656 167.037228 311.295529 167.037228 309.546133 165.82157 309.546133 163.964796"
      />
      <path
        fill="#BCBDBD"
        d="M463.267247,147.861667 C463.267247,150.82411 459.965245,153.225035 455.89345,153.225035 C451.820208,153.225035 448.518205,150.82411 448.518205,147.861667 C448.518205,144.899223 451.820208,142.498298 455.89345,142.498298 C459.965245,142.498298 463.267247,144.899223 463.267247,147.861667"
      />
      <path
        fill="#959595"
        d="M454.790853,117.080911 L454.790853,147.155427 C454.790853,147.770492 455.359515,148.268333 456.061299,148.268333 C456.763083,148.268333 457.331745,147.770492 457.331745,147.155427 L457.331745,117.080911 L454.790853,117.080911 Z"
      />
      <path
        fill="#004E9E"
        d="M468.70933,111.250093 C468.70933,118.329855 462.970617,124.068051 455.89345,124.068051 C448.814835,124.068051 443.077569,118.329855 443.077569,111.250093 C443.077569,104.170331 448.814835,98.4321352 455.89345,98.4321352 C462.970617,98.4321352 468.70933,104.170331 468.70933,111.250093"
      />
      <path
        fill="#FFF"
        d="M447.338918,114.546843 L450.882566,111.642288 C452.206551,110.545301 452.721675,109.967863 452.721675,109.085064 C452.721675,108.187792 452.129861,107.701529 451.292061,107.701529 C450.470177,107.701529 449.90875,108.157401 449.117253,109.131375 L447.474934,107.808623 C448.523993,106.37733 449.542665,105.603071 451.443993,105.603071 C453.650634,105.603071 455.110635,106.895432 455.110635,108.888243 L455.110635,108.918635 C455.110635,110.698706 454.197592,111.581505 452.31218,113.041742 L450.577254,114.378966 L455.216264,114.378966 L455.216264,116.402169 L447.338918,116.402169 L447.338918,114.546843 Z"
      />
      <polygon
        fill="#FFF"
        points="462.036 107.778 457.031 107.778 457.031 105.755 464.697 105.755 464.697 107.521 459.922 116.404 457.275 116.404"
      />
      <path
        fill="#BCBDBD"
        d="M605.328616,98.8735349 C605.328616,101.835978 602.026613,104.236903 597.954818,104.236903 C593.881576,104.236903 590.579573,101.835978 590.579573,98.8735349 C590.579573,95.9110916 593.881576,93.5101667 597.954818,93.5101667 C602.026613,93.5101667 605.328616,95.9110916 605.328616,98.8735349"
      />
      <path
        fill="#959595"
        d="M596.852221,68.0913322 L596.852221,98.1658482 C596.852221,98.7809133 597.420883,99.2787543 598.122667,99.2787543 C598.824451,99.2787543 599.393114,98.7809133 599.393114,98.1658482 L599.393114,68.0913322 L596.852221,68.0913322 Z"
      />
      <path
        fill="#004E9E"
        d="M611.446437,62.2605144 C611.446437,69.3402763 605.707724,75.0784726 598.630556,75.0784726 C591.551942,75.0784726 585.814676,69.3402763 585.814676,62.2605144 C585.814676,55.1807525 591.551942,49.4425563 598.630556,49.4425563 C605.707724,49.4425563 611.446437,55.1807525 611.446437,62.2605144"
      />
      <path
        fill="#FFF"
        d="M590.076025 65.5572637 593.619673 62.6527089C594.943657 61.5571693 595.458781 60.9782845 595.458781 60.0969323 595.458781 59.1982135 594.866968 58.7119502 594.030615 58.7119502 593.207284 58.7119502 592.645857 59.167822 591.85436 60.1417958L590.212041 58.8190439C591.261099 57.3891983 592.279772 56.6134926 594.1811 56.6134926 596.387741 56.6134926 597.847742 57.905853 597.847742 59.8986642L597.847742 59.9290556C597.847742 61.7091266 596.934699 62.591926 595.049287 64.0521631L593.314361 65.3908343 597.953371 65.3908343 597.953371 67.4140369 590.076025 67.4140369 590.076025 65.5572637ZM605.700489 64.0217716 605.700489 63.9913802C605.700489 63.0941086 605.000152 62.4399687 603.845464 62.4399687 602.689329 62.4399687 602.019378 63.0781893 602.019378 63.9754608L602.019378 64.0058523C602.019378 64.9031238 602.719715 65.5876552 603.874403 65.5876552 605.031985 65.5876552 605.700489 64.9335153 605.700489 64.0217716M600.893629 66.4559825C600.119496 65.6802768 599.631865 64.5384264 599.631865 62.4240494L599.631865 62.393658C599.631865 59.1084863 601.123699 56.5831011 604.301262 56.5831011 605.746792 56.5831011 606.688775 57.0085815 607.632204 57.7538958L606.400826 59.5643582C605.700489 59.0317841 605.137615 58.7119502 604.226019 58.7119502 602.902034 58.7119502 602.233531 59.7770984 602.080151 61.1765525 602.612639 60.8263272 603.237733 60.4920212 604.286792 60.4920212 606.400826 60.4920212 608.027229 61.6628158 608.027229 63.8857337L608.027229 63.9146779C608.027229 66.0898378 606.27928 67.5963857 603.96701 67.5963857 602.583699 67.5963857 601.64027 67.2012968 600.893629 66.4559825"
      />
      <path
        fill="#BCBDBD"
        d="M331.820907,138.778963 C331.820907,141.741406 328.518904,144.142331 324.447109,144.142331 C320.373867,144.142331 317.071864,141.741406 317.071864,138.778963 C317.071864,135.81652 320.373867,133.415595 324.447109,133.415595 C328.518904,133.415595 331.820907,135.81652 331.820907,138.778963"
      />
      <path
        fill="#959595"
        d="M323.344512,107.998208 L323.344512,138.072724 C323.344512,138.687789 323.913174,139.18563 324.614958,139.18563 C325.316742,139.18563 325.885405,138.687789 325.885405,138.072724 L325.885405,107.998208 L323.344512,107.998208 Z"
      />
      <path
        fill="#004E9E"
        d="M337.26299,102.16739 C337.26299,109.247152 331.524276,114.985348 324.447109,114.985348 C317.368494,114.985348 311.631228,109.247152 311.631228,102.16739 C311.631228,95.0876279 317.368494,89.3494317 324.447109,89.3494317 C331.524276,89.3494317 337.26299,95.0876279 337.26299,102.16739"
      />
      <path
        fill="#FFF"
        d="M315.090952 105.662407 316.702885 104.125468C317.432161 104.947484 318.193272 105.403356 319.272717 105.403356 320.155373 105.403356 320.779021 104.901174 320.779021 104.110996L320.779021 104.080604C320.779021 103.213724 320.003441 102.726014 318.695373 102.726014L317.723004 102.726014 317.356919 101.235385 319.897811 98.6796085 315.713152 98.6796085 315.713152 96.6723252 322.907525 96.6723252 322.907525 98.4364769 320.216146 101.008173C321.66023 101.251305 323.076821 102.011091 323.076821 103.98943L323.076821 104.019821C323.076821 106.027105 321.616821 107.503261 319.243777 107.503261 317.326532 107.503261 316.003995 106.742027 315.090952 105.662407M331.841165 102.02701 331.841165 101.996619C331.841165 100.064591 330.899182 98.6043535 329.499955 98.6043535 328.09928 98.6043535 327.187685 100.019727 327.187685 101.966227L327.187685 101.996619C327.187685 103.943119 328.116644 105.388884 329.530341 105.388884 330.944038 105.388884 331.841165 103.959038 331.841165 102.02701M324.784255 102.02701 324.784255 101.996619C324.784255 98.908268 326.700053 96.4899765 329.530341 96.4899765 332.343266 96.4899765 334.244594 98.8778766 334.244594 101.966227L334.244594 101.996619C334.244594 105.08497 332.343266 107.503261 329.499955 107.503261 326.655197 107.503261 324.784255 105.115361 324.784255 102.02701"
      />
      <path
        fill="#BCBDBD"
        d="M482.102555,88.2133701 C482.102555,91.1758134 478.800552,93.5767384 474.728757,93.5767384 C470.655515,93.5767384 467.353512,91.1758134 467.353512,88.2133701 C467.353512,85.2509268 470.655515,82.8500019 474.728757,82.8500019 C478.800552,82.8500019 482.102555,85.2509268 482.102555,88.2133701"
      />
      <path
        fill="#959595"
        d="M473.62616,57.4311674 L473.62616,87.5056834 C473.62616,88.1207486 474.194822,88.6185895 474.896607,88.6185895 C475.598391,88.6185895 476.167053,88.1207486 476.167053,87.5056834 L476.167053,57.4311674 L473.62616,57.4311674 Z"
      />
      <path
        fill="#004E9E"
        d="M487.544638,51.6017969 C487.544638,58.6815588 481.805925,64.419755 474.728757,64.419755 C467.650143,64.419755 461.912876,58.6815588 461.912876,51.6017969 C461.912876,44.522035 467.650143,38.7838387 474.728757,38.7838387 C481.805925,38.7838387 487.544638,44.522035 487.544638,51.6017969"
      />
      <path
        fill="#FFF"
        d="M466.067149 54.8985462 469.610797 51.9939914C470.934782 50.8970045 471.451353 50.3195669 471.451353 49.4367675 471.451353 48.5394959 470.858092 48.0532326 470.021739 48.0532326 469.199856 48.0532326 468.638428 48.5091045 467.846932 49.4830783L466.204612 48.1603263C467.253671 46.7290335 468.272343 45.954775 470.173672 45.954775 472.378865 45.954775 473.838866 47.2471355 473.838866 49.2399466L473.838866 49.2703381C473.838866 51.050409 472.92727 51.9332084 471.040411 53.3934455L469.306932 54.7306696 473.945942 54.7306696 473.945942 56.7538722 466.067149 56.7538722 466.067149 54.8985462ZM481.662674 49.590172 481.662674 49.5597805C481.662674 48.6161982 480.962337 47.9316668 479.791732 47.9316668 478.635597 47.9316668 477.981563 48.601726 477.981563 49.5438612L477.981563 49.5742526C477.981563 50.5178349 478.6819 51.1719748 479.836588 51.1719748 480.99417 51.1719748 481.662674 50.5033628 481.662674 49.590172M475.897915 55.6742519 477.13074 53.8956281C477.90632 54.5193766 478.560354 54.8073718 479.45748 54.8073718 480.764101 54.8073718 481.464438 53.8189259 481.616371 52.3890803 481.0998 52.83048 480.384993 53.1199224 479.45748 53.1199224 477.146657 53.1199224 475.654823 51.8420341 475.654823 49.6813463L475.654823 49.6509549C475.654823 47.5061864 477.313059 45.9243835 479.716489 45.9243835 481.146103 45.9243835 481.982456 46.2731617 482.788422 47.0807061 483.548086 47.8404924 484.050187 48.996815 484.050187 51.0967198L484.050187 51.1271113C484.050187 54.5801595 482.423784 56.9376681 479.396707 56.9376681 477.8441 56.9376681 476.795041 56.4210134 475.897915 55.6742519"
      />
      <polygon
        fill="#D7D8D7"
        points="637.705 178.438 655.21 190.913 413.345 274.208 395.84 261.733"
      />
      <g id="info-icon-3-6">
        <polygon
          fill="#1D1D1B"
          points="560.102 266.792 589.693 266.792 589.693 237.197 560.102 237.197"
        />
        <path
          fill="#FFF"
          d="M579.366943,259.925093 L583.764308,260.087181 C584.156439,259.987323 585.677213,259.482246 585.481871,257.760064 C585.224309,255.868558 583.124744,255.383741 582.812197,255.321511 L580.488351,255.25494 L570.30597,244.124431 L565.911499,243.960896 C565.519368,244.060753 563.998594,244.565831 564.195383,246.28946 C564.473203,248.380682 566.879527,248.79169 566.904125,248.794584 L569.119448,248.785901 L579.366943,259.925093 Z M583.891642,261.540182 L578.711463,261.34915 L568.484225,250.233113 L566.789814,250.233113 C565.468723,250.030504 563.09568,248.995747 562.757087,246.467467 C562.461904,243.869721 564.554234,242.753921 565.701687,242.525261 L565.784165,242.507895 L570.964344,242.700374 L581.142385,253.825094 L583.001751,253.88443 C583.143555,253.909032 586.494755,254.479234 586.917273,257.580609 C587.212456,260.178355 585.12302,261.294156 583.975567,261.522815 L583.891642,261.540182 Z"
        />
        <path
          fill="#FFF"
          d="M576.080857,247.259092 L576.318162,247.259092 C575.902879,247.259092 575.667022,246.785854 575.667022,246.193944 C575.667022,245.66137 576.140183,245.06946 576.731997,245.06946 C577.323811,245.06946 577.796973,245.66137 577.796973,246.193944 C577.796973,246.785854 577.501789,247.259092 577.086507,247.259092 L577.264485,247.259092 L577.264485,250.513873 L576.672671,250.09997 L576.080857,249.50806 L576.080857,247.259092 Z"
        />
      </g>
      <polygon
        fill="#1D1D1B"
        points="609.118 216.339 638.709 216.339 638.709 186.744 609.118 186.744"
      />
      <path
        fill="#FFF"
        d="M615.687529 196.806382 616.397995 201.719667C616.574526 202.962822 616.81183 203.909299 616.930482 205.685029L616.989808 205.685029C617.16634 203.909299 617.46297 202.903487 617.700274 201.719667L618.646598 196.806382 620.895201 196.806382 621.842971 201.600996C622.078829 202.962822 622.316133 203.909299 622.492664 205.685029L622.55199 205.685029C622.670643 203.909299 622.848621 202.962822 623.084478 201.600996L623.85427 196.806382 626.694687 196.806382 623.85427 208.644577 621.132505 208.644577 620.244061 204.263866C620.008204 203.080047 619.830225 202.13357 619.652247 200.357841L619.592921 200.357841C619.41639 202.13357 619.238412 203.139382 619.001107 204.263866L618.11411 208.644577 615.390898 208.644577 612.728459 196.806382 615.687529 196.806382ZM634.684898 208.230675C634.15241 208.525906 633.20464 208.763249 632.139664 208.763249 629.180595 208.763249 627.228622 206.39561 627.228622 202.608256 627.228622 199.114685 629.06339 196.214472 632.495621 196.214472 633.263966 196.214472 634.093084 196.392479 634.684898 196.689158L634.211736 199.4707C633.855779 199.292692 633.382618 199.114685 632.612826 199.114685 631.074689 199.114685 630.128365 200.535848 630.128365 202.489584 630.128365 204.679216 631.252667 205.863036 632.672152 205.863036 633.323292 205.863036 633.855779 205.744364 634.330388 205.508469L634.684898 208.230675Z"
      />
      <polygon
        fill="#1D1D1B"
        points="573.809 230.694 603.4 230.694 603.4 201.099 573.809 201.099"
      />
      <path
        fill="#FFF"
        d="M582.744189 205.952763C582.744189 206.544673 582.566211 207.077247 582.211701 207.550485 581.857192 207.965835 581.441909 208.201731 580.909422 208.201731 580.43626 208.201731 580.022424 207.965835 579.666468 207.550485 579.311958 207.136582 579.13398 206.604008 579.13398 205.952763 579.13398 205.360853 579.311958 204.828279 579.666468 204.414376 580.022424 203.999026 580.43626 203.763131 580.909422 203.763131 581.382583 203.763131 581.857192 203.999026 582.211701 204.414376 582.566211 204.828279 582.744189 205.360853 582.744189 205.952763L582.744189 205.952763ZM582.684863 211.161279 586.649582 211.161279C586.708908 211.161279 586.82756 211.101944 586.82756 211.220615L586.82756 212.167092C586.82756 212.285763 586.708908 212.345099 586.649582 212.345099L582.684863 212.345099 582.684863 215.304648 586.354398 215.304648C586.946212 215.304648 587.419374 215.601326 587.892536 216.252572L591.266887 221.223746 592.035232 221.223746C592.391189 221.223746 592.509841 221.401753 592.627046 221.461088 592.745698 221.57976 592.745698 221.874991 592.745698 222.229558L592.745698 222.999475 590.141139 222.999475C589.667977 224.775204 588.840306 225.663792 587.597352 226.550934 586.354398 227.439522 584.933466 227.972096 583.395329 227.972096 581.441909 227.972096 579.78512 227.32085 578.364188 225.959024 577.004029 224.597197 576.293563 222.940139 576.293563 221.045738 576.293563 219.626023 576.530867 218.442204 577.18056 217.436391 577.655169 216.607139 578.542166 215.896558 579.13398 215.304648L579.13398 211.279951 579.252632 209.38555C579.252632 208.615633 580.376934 208.261066 580.968748 208.261066 581.441909 208.261066 581.915071 208.439073 582.211701 208.734305 582.506885 209.030983 582.684863 209.38555 582.684863 209.799453L582.684863 211.161279ZM588.603002 221.045738 586.117094 217.672287 579.48849 217.672287C578.601492 218.264197 578.187657 219.744695 578.187657 221.045738 578.187657 222.466901 578.720144 223.65072 579.725794 224.656533 580.731443 225.663792 581.974397 226.137031 583.395329 226.137031 584.814814 226.137031 586.057768 225.663792 587.064864 224.656533 588.12984 223.65072 588.603002 222.466901 588.603002 221.045738L588.603002 221.045738ZM588.662328 204.058362 589.135489 207.314589C589.194815 208.083059 589.313468 208.79364 589.43212 209.97746 589.549325 208.79364 589.727303 208.083059 589.845955 207.314589L590.437769 204.058362 591.858701 204.058362 592.450515 207.255254C592.627046 208.083059 592.805025 208.79364 592.923677 209.97746 592.983003 208.79364 593.101655 208.083059 593.278186 207.255254L593.751348 204.058362 595.526789 204.058362 593.751348 211.753189 592.094559 211.753189 591.562071 208.912312C591.384093 208.201731 591.266887 207.609821 591.148235 206.426001 591.029583 207.609821 590.910931 208.201731 590.792279 208.912312L590.200465 211.753189 588.484349 211.753189 586.82756 204.058362 588.662328 204.058362ZM600.557931 211.457958C600.262747 211.635965 599.611607 211.812525 598.960467 211.812525 597.066374 211.812525 595.882746 210.333474 595.882746 207.965835 595.882746 205.776203 597.066374 204.000474 599.196325 204.000474 599.670933 204.000474 600.203421 204.117698 600.557931 204.295705L600.262747 206.012099C600.084769 205.835539 599.728812 205.776203 599.255651 205.776203 598.309327 205.776203 597.717514 206.663344 597.717514 207.906499 597.717514 209.268326 598.42798 209.97746 599.314977 209.97746 599.728812 209.97746 600.084769 209.860236 600.320626 209.741564L600.557931 211.457958Z"
      />
      <polygon
        fill="#1D1D1B"
        points="713.864 232.914 743.336 232.914 743.454 233.033 743.454 262.51 713.982 262.51 713.864 262.391"
      />
      <polygon
        fill="#FFF"
        points="725.918 258.944 731.397 258.944 731.397 245.661 725.918 245.661"
      />
      <path
        fill="#FFF"
        d="M731.7988 239.619259C731.7988 241.354467 730.392338 242.761157 728.657412 242.761157 726.923933 242.761157 725.517471 241.354467 725.517471 239.619259 725.517471 237.884052 726.923933 236.477362 728.657412 236.477362 730.392338 236.477362 731.7988 237.884052 731.7988 239.619259M719.267974 253.716553C718.564743 253.716553 717.99174 253.144904 717.99174 252.440112L717.99174 244.092592C717.99174 243.389247 718.564743 242.816151 719.267974 242.816151L724.113902 242.816151 724.113902 241.42538 719.267974 241.42538C717.797845 241.42538 716.599747 242.622225 716.599747 244.092592L716.599747 252.440112C716.599747 253.910479 717.797845 255.108771 719.267974 255.108771L724.113902 255.108771 724.113902 253.716553 719.267974 253.716553ZM738.048297 241.42538 733.202369 241.42538 733.202369 242.816151 738.048297 242.816151C738.751528 242.816151 739.324531 243.389247 739.324531 244.092592L739.324531 252.440112C739.324531 253.144904 738.751528 253.716553 738.048297 253.716553L733.202369 253.716553 733.202369 255.108771 738.048297 255.108771C739.518426 255.108771 740.716523 253.910479 740.716523 252.440112L740.716523 244.092592C740.716523 242.622225 739.518426 241.42538 738.048297 241.42538"
      />
      <polygon
        fill="#1D1D1B"
        points="452.56 305.703 482.15 305.703 482.15 276.108 452.56 276.108"
      />
      <path
        stroke="#FFF"
        stroke-width="1.447"
        d="M476.178629,297.681411 C476.178629,298.810237 475.255457,299.732111 474.128261,299.732111 L460.58021,299.732111 C459.451567,299.732111 458.529843,298.810237 458.529843,297.681411 L458.529843,284.131164 C458.529843,283.003786 459.451567,282.080464 460.58021,282.080464 L474.128261,282.080464 C475.255457,282.080464 476.178629,283.003786 476.178629,284.131164 L476.178629,297.681411 Z"
      />
      <path
        fill="#FFF"
        d="M460.985364 287.34108 460.985364 292.128458C460.985364 292.394745 461.200963 292.61038 461.467207 292.61038 461.733451 292.61038 461.949051 292.394745 461.949051 292.128458L461.949051 288.304924 462.500349 288.304924 462.500349 297.054768C462.500349 297.321055 462.715949 297.53669 462.982193 297.53669 463.248437 297.53669 463.464036 297.321055 463.464036 297.054768L463.464036 292.438162 464.005206 292.438162 464.005206 297.054768C464.005206 297.321055 464.220806 297.53669 464.48705 297.53669 464.753293 297.53669 464.968893 297.321055 464.968893 297.054768L464.968893 288.304924 465.520192 288.304924 465.520192 292.128458C465.520192 292.394745 465.735791 292.61038 466.002035 292.61038 466.268279 292.61038 466.483879 292.394745 466.483879 292.128458L466.483879 287.34108 460.985364 287.34108ZM463.736068 286.869289C464.365503 286.869289 464.873393 286.359871 464.873393 285.730333 464.873393 285.100796 464.365503 284.591377 463.736068 284.591377 463.105186 284.591377 462.597297 285.100796 462.597297 285.730333 462.597297 286.359871 463.105186 286.869289 463.736068 286.869289"
      />
      <polygon
        fill="#FFF"
        points="468.562 289.911 470.972 285.452 473.382 289.911"
      />
      <polygon
        fill="#FFF"
        points="473.382 292.217 470.971 296.676 468.562 292.217"
      />
      <path
        fill="#E11D1B"
        d="M349.297502 348.990003C337.535021 354.49954 323.532619 349.429955 318.023975 337.664989 312.513885 325.900601 317.584094 311.895929 329.346575 306.386392 341.109056 300.875409 355.111459 305.94644 360.620102 317.710828 366.130193 329.475215 361.059984 343.479887 349.297502 348.990003M364.392373 315.943782C365.379212 318.050922 366.043374 320.220294 366.470233 322.404137L374.079888 311.405324 360.760459 310.211374C362.165474 311.937898 363.405534 313.836641 364.392373 315.943782M737.430437 105.996713C743.775434 94.6607003 758.1063 90.6157423 769.440476 96.9603204 780.774652 103.306346 784.818954 117.639535 778.473957 128.975548 772.130407 140.311561 757.799541 144.357966 746.465365 138.011941 735.13119 131.665915 731.08544 117.332726 737.430437 105.996713"
      />
      <path
        fill="#000"
        d="M770.942439 159.987857C772.431379 159.987857 773.47465 159.197679 773.47465 157.870586L773.47465 157.850325C773.47465 156.675189 772.704858 156.138273 771.205789 155.773576 769.838395 155.4494 769.514272 155.206268 769.514272 154.659222L769.514272 154.638961C769.514272 154.172959 769.939683 153.798131 770.66896 153.798131 771.317206 153.798131 771.955323 154.051393 772.59344 154.527526L773.261944 153.585391C772.542796 153.007953 771.72236 152.693908 770.689218 152.693908 769.281309 152.693908 768.268424 153.534738 768.268424 154.750397L768.268424 154.770657C768.268424 156.07749 769.119247 156.523231 770.628445 156.887929 771.945194 157.191843 772.228802 157.465367 772.228802 157.971891L772.228802 157.992152C772.228802 158.518937 771.742617 158.883634 770.972825 158.883634 770.101745 158.883634 769.412983 158.549328 768.734351 157.96176L767.984817 158.853243C768.835639 159.613029 769.858653 159.987857 770.942439 159.987857ZM777.090647 158.873504C776.482916 158.873504 776.00686 158.650633 775.470032 158.204892L774.791399 159.157158C775.389001 159.653551 776.077762 160.008118 777.06026 160.008118 778.974612 160.008118 780.098913 158.427763 780.098913 156.148403L780.098913 156.128142C780.098913 154.730136 779.764661 153.950088 779.24809 153.423303 778.741648 152.926909 778.164304 152.673647 777.272966 152.673647 775.702995 152.673647 774.629338 153.737348 774.629338 155.125224L774.629338 155.145485C774.629338 156.513101 775.632093 157.394453 777.141291 157.394453 777.870568 157.394453 778.417525 157.1108 778.81255 156.634667 778.802421 157.576802 778.346623 158.873504 777.090647 158.873504ZM777.32361 156.351013C776.442401 156.351013 775.875186 155.824228 775.875186 155.084703L775.875186 155.064442C775.875186 154.335047 776.401885 153.747478 777.283095 153.747478 778.184562 153.747478 778.761906 154.314786 778.761906 155.054311L778.761906 155.074572C778.761906 155.763445 778.225077 156.351013 777.32361 156.351013Z"
      />
      <path
        fill="#1D1D1D"
        d="M653.609918 182.38636C655.088729 182.38636 656.091485 181.444225 656.091485 180.137392L656.091485 180.117131C656.091485 178.810299 655.0786 178.263253 654.004943 178.131556L655.980067 176.105459 655.980067 175.173455 651.290413 175.173455 651.290413 176.257416 654.359452 176.257416 652.445101 178.293644 652.647678 179.073691 653.225022 179.073691C654.217649 179.073691 654.855766 179.46878 654.855766 180.167784L654.855766 180.188045C654.855766 180.836396 654.329066 181.261876 653.630176 181.261876 652.840126 181.261876 652.272911 180.92757 651.766468 180.329871L650.895388 181.14031C651.49299 181.869705 652.374199 182.38636 653.609918 182.38636ZM660.375985 182.38636C662.239692 182.38636 663.475411 180.745221 663.475411 178.719124L663.475411 178.698863C663.475411 176.672766 662.249821 175.051889 660.396243 175.051889 658.532536 175.051889 657.296817 176.693027 657.296817 178.719124L657.296817 178.739385C657.296817 180.765482 658.512278 182.38636 660.375985 182.38636ZM660.396243 181.261876C659.292199 181.261876 658.58318 180.117131 658.58318 178.719124L658.58318 178.698863C658.58318 177.290726 659.28207 176.176373 660.375985 176.176373 661.4699 176.176373 662.189048 177.321117 662.189048 178.719124L662.189048 178.739385C662.189048 180.127262 661.500287 181.261876 660.396243 181.261876Z"
      />
      <polygon
        fill="#1D1D1D"
        points="665.856 182.265 667.091 182.265 667.091 175.123 666.23 175.123 664.316 175.731 664.579 176.744 665.856 176.389"
      />
      <polygon
        fill="#FFF"
        points="324.627 331.778 326.004 331.778 328.871 324.636 327.189 324.636 325.336 329.63 323.482 324.636 321.76 324.636"
      />
      <path
        fill="#FFF"
        d="M332.486517,331.828382 C334.015972,331.828382 335.089629,331.038204 335.089629,329.630067 L335.089629,329.609806 C335.089629,328.373887 334.279322,327.857232 332.841026,327.482404 C331.615436,327.168359 331.311571,327.016402 331.311571,326.5504 L331.311571,326.530139 C331.311571,326.185702 331.625565,325.912179 332.223167,325.912179 C332.820768,325.912179 333.438628,326.175572 334.066616,326.611182 L334.876924,325.436046 C334.157776,324.858608 333.276566,324.534433 332.243424,324.534433 C330.795,324.534433 329.761858,325.385394 329.761858,326.671965 L329.761858,326.692226 C329.761858,328.100364 330.683582,328.495453 332.111749,328.86015 C333.296824,329.164065 333.539916,329.366674 333.539916,329.761763 L333.539916,329.782024 C333.539916,330.197374 333.15502,330.450636 332.516903,330.450636 C331.706596,330.450636 331.038092,330.11633 330.399975,329.589545 L329.47825,330.693768 C330.329073,331.453554 331.412859,331.828382 332.486517,331.828382 Z"
      />
      <polygon
        fill="#FFF"
        points="338.098 331.727 339.658 331.727 339.658 326.074 341.815 326.074 341.815 324.636 335.94 324.636 335.94 326.074 338.098 326.074"
      />
      <path
        fill="#FFF"
        d="M345.968007 331.838513C347.87223 331.838513 349.077562 330.784942 349.077562 328.637279L349.077562 324.635738 347.51772 324.635738 347.51772 328.698062C347.51772 329.822546 346.940376 330.399984 345.988265 330.399984 345.036153 330.399984 344.458809 329.802285 344.458809 328.64741L344.458809 324.635738 342.898967 324.635738 342.898967 328.687932C342.898967 330.774812 344.063784 331.838513 345.968007 331.838513ZM350.66779 331.727077 352.227632 331.727077 352.227632 329.599676 353.412707 329.599676C355.002935 329.599676 356.279169 328.748715 356.279169 327.107576L356.279169 327.087315C356.279169 325.638656 355.256156 324.635738 353.564639 324.635738L350.66779 324.635738 350.66779 331.727077ZM352.227632 328.211799 352.227632 326.043875 353.432965 326.043875C354.212885 326.043875 354.69907 326.418703 354.69907 327.117707L354.69907 327.137968C354.69907 327.745797 354.243272 328.211799 353.463351 328.211799L352.227632 328.211799Z"
      />
      <polygon
        fill="#FFF"
        points="744.016 121.881 745.393 121.881 748.26 114.739 746.578 114.739 744.725 119.734 742.871 114.739 741.149 114.739"
      />
      <path
        fill="#FFF"
        d="M751.875615,121.931966 C753.40507,121.931966 754.478727,121.141788 754.478727,119.733651 L754.478727,119.71339 C754.478727,118.477471 753.66842,117.960816 752.230124,117.585988 C751.004534,117.271943 750.700669,117.119986 750.700669,116.653984 L750.700669,116.633723 C750.700669,116.289286 751.014663,116.015763 751.612265,116.015763 C752.209867,116.015763 752.827726,116.279156 753.455714,116.714766 L754.266022,115.53963 C753.546874,114.962193 752.665665,114.638017 751.632523,114.638017 C750.184098,114.638017 749.150956,115.488978 749.150956,116.775549 L749.150956,116.79581 C749.150956,118.203948 750.072681,118.599037 751.500848,118.963734 C752.685922,119.267649 752.929014,119.470258 752.929014,119.865347 L752.929014,119.885608 C752.929014,120.300958 752.544118,120.55422 751.906001,120.55422 C751.095694,120.55422 750.42719,120.219914 749.789073,119.693129 L748.867348,120.797352 C749.718171,121.557138 750.801957,121.931966 751.875615,121.931966 Z"
      />
      <polygon
        fill="#FFF"
        points="757.487 121.831 759.047 121.831 759.047 116.178 761.204 116.178 761.204 114.739 755.33 114.739 755.33 116.178 757.487 116.178"
      />
      <path
        fill="#FFF"
        d="M765.357105 121.942097C767.261328 121.942097 768.46666 120.888526 768.46666 118.740863L768.46666 114.739322 766.906818 114.739322 766.906818 118.801646C766.906818 119.92613 766.329474 120.503568 765.377363 120.503568 764.425252 120.503568 763.847908 119.905869 763.847908 118.750994L763.847908 114.739322 762.288066 114.739322 762.288066 118.791516C762.288066 120.878396 763.452883 121.942097 765.357105 121.942097ZM770.056889 121.830661 771.61673 121.830661 771.61673 119.70326 772.801805 119.70326C774.392033 119.70326 775.668268 118.852299 775.668268 117.21116L775.668268 117.190899C775.668268 115.74224 774.645255 114.739322 772.953738 114.739322L770.056889 114.739322 770.056889 121.830661ZM771.61673 118.315383 771.61673 116.147459 772.822063 116.147459C773.601984 116.147459 774.088168 116.522287 774.088168 117.221291L774.088168 117.241552C774.088168 117.849381 773.63237 118.315383 772.852449 118.315383L771.61673 118.315383Z"
      />
      <path
        fill="#E11D1B"
        d="M744.430915,141.64589 C742.400805,140.509829 740.596424,139.134977 738.977256,137.608168 L739.205879,150.981856 L750.723821,144.184301 C748.576506,143.602521 746.461025,142.781952 744.430915,141.64589"
      />
    </g>
  </svg>
</div>
