<section class="c-static-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-5 h1">Potraviny, delikatesy</h1>
    </div>
    <div class="row gy-10">
      <div class="col-lg-6 col col-12">
        <div class="section-img">
          <img src="images/content/albert.jpg" loading="lazy" alt="" />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mx-auto col col-12">
        <div class="c-foodcourt-section__header">
          <h2 class="h2">Albert Hypermarket</h2>
          <div class="c-foodcourt-section__logo">
            <img src="images/content/albert-logo.jpg" loading="lazy" alt="" />
          </div>
        </div>
        <div class="o-content">
          <p>
            Hypermarket Albert v dopravně obchodním centru Mercury mění nákupy v
            zážitek díky široké nabídce kvalitních potravin a produktů a také
            díky nové prodejní ploše, najdete vše po ruce pro vaše pohodlné
            nákupy. Nákupy v tomto hypermarketu zpříjemňuje nejen moderní
            design, ale především široká nabídka plná zdraví, inspirace, chuti a
            neodolatelné vůně.
          </p>
        </div>
        <div class="o-content">
          <h3>Pečivo? Právě vytažené z pece</h3>
          <p>
            Že neznáte lepší vůni než vůni čerstvě upečeného pečiva? Pochutnat
            si u nás můžete na pečivu, které si sami pečeme každý den z našich
            vlastních těst. Ať máte radši sladké, slané či celozrnné, u nás si
            jistě vyberete to pravé křupavé – pečeme poctivě a s chutí ve
            vlastních pekárnách přímo v hypermarketu. Kromě vlastního pečiva u
            nás najdete i pečivo od lokálních pekařů.
          </p>
          <h3>Tržnice plná vitamínů</h3>
          <p>
            Čerstvé ovoce a zelenina od lokálních dodavatelů i z
            nejexotičtějších koutů světa… V naší prodejně najdete Tržnici
            Albert, která vás nadchne svou pestrostí. Díky široké nabídce můžete
            experimentovat a vždy vyzkoušet něco nového.
          </p>
          <h3>Nature´s Promise aneb zdraví, které chutná a baví</h3>
          <p>
            Pozornost si jistě zaslouží i nabídka značky Nature´s Promise. Tyto
            produkty vám dokáží, že i zdravé jídlo může chutnat skvěle. Vybírat
            můžete ze široké škály potravin, včetně těch BIO, bezlepkových,
            veganských či vegetariánských, které vám ukáží, jak snadné je
            dodržovat zdravý životní styl, který prospívá tělu.
          </p>
          <h3>Čerstvé, lahodné a rychlé? Fresh Bistro</h3>
          <p>
            I ve chvíli, kdy máte minimum času, můžete jíst čerstvě, chutně a
            vyváženě. Přesvědčí vás o tom produkty Fresh Bistro, které vám
            nabízí řadu polévek (bez konzervantů a dochucovadel), salátů, wrapů,
            sendvičů, baget, lehkých jídel a svačinek.
          </p>
          <h3>Kvalitní potraviny od našich farmářů</h3>
          <p>
            Baví vás ochutnávat kvalitní produkty od českých farmářů? Nás zase
            baví, že vám je můžeme v naší prodejně nabídnout.
          </p>
          <h3>Zdravě s Albertem</h3>
          <p>
            Pro všechny, co mají rádi zdravý životní styl jsme připravili
            speciálně oddělení „Zdravě s Albertem“. Co všechno zde najdete?
            Nejen zdravé produkty značky Nature´s Promise, ale také doplňky
            stravy, potraviny s vysokým obsahem bílkovin, výrobky bez přidaného
            cukru, BIO a přírodní kosmetiku či BIO produkty pro miminka.
          </p>
          <p>
            <strong>Záleží nám na tom, abyste jedli lépe.</strong>
          </p>
        </div>
        <div class="c-foodcourt-section__time">
          <p class="p1">Otevírací doba</p>
          <p>Pondělí: 07:00 - 22:00</p>
          <p>Úterý: 07:00 - 22:00</p>
          <p>Středa: 07:00 - 22:00</p>
          <p>Čtvrtek: 07:00 - 22:00</p>
          <p>Pátek: 07:00 - 22:00</p>
          <p>Sobota: 07:00 - 22:00</p>
          <p>Neděle: 07:00 - 22:00</p>

          <p class="p1">Telefon</p>
          <p>+420 602 560 072</p>
          <p class="p1">Kontaktní osoba</p>
          <p>Eva Ottová</p>
        </div>
        <p class="p1"><strong>Poloha obchodu na 1. NP</strong></p>
        <div class="c-foodcourt-section__location">
          <img src="images/content/mapka-albert.jpeg" loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
